﻿@model CrowdFunding.Models.ViewModels.Dashboard_VM
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}





<div id="page-title">
    <h2>Dashboard</h2>
    <p>Overview of the current project</p>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <a href="#" title="Example tile shortcut" class="tile-box tile-box-shortcut btn-danger">
                    <span class="bs-badge badge-absolute">@Model.Lenders</span>
                    <div class="tile-header">Lenders</div>
                    <div class="tile-content-wrapper">
                        <i class="glyph-icon icon-file-photo-o"></i>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" title="Example tile shortcut" class="tile-box tile-box-shortcut btn-primary">
                    <span class="bs-badge badge-absolute">@Model.Borrowers</span>
                    <div class="tile-header">Borrowers</div>
                    <div class="tile-content-wrapper">
                        <i class="glyph-icon icon-file-photo-o"></i>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" title="Example tile shortcut" class="tile-box tile-box-shortcut btn-success">
                    <span class="bs-badge badge-absolute">@Model.Borrowers</span>
                    <div class="tile-header">Borrowers</div>
                    <div class="tile-content-wrapper">
                        <i class="glyph-icon icon-file-photo-o"></i>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" title="Example tile shortcut" class="tile-box tile-box-shortcut btn-warning">
                    <span class="bs-badge badge-absolute">@Model.Borrowers</span>
                    <div class="tile-header">Borrowers</div>
                    <div class="tile-content-wrapper">
                        <i class="glyph-icon icon-file-photo-o"></i>
                    </div>
                </a>
            </div>

        </div>


        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">Basic</h3>
                <div class="example-box-wrapper">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable-example">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var element in Model.LenderList)
                        {
                            <tr class="odd gradeX">
                                <td>@element.FirstName</td>
                                <td>@element.LastName</td>
                                <td class="center">@element.Email</td>
                                <td>
                                    <a href="@Url.Action("AddUser", "User", new { id = element.ID })"><i style="color:blue" class="glyph-icon tooltip-button icon-pencil-square-o" title="" data-original-title="Edit" aria-describedby="tooltip854738"></i></a>
                                    <a role="button" data-id="@element.ID" class="DeleteUserBtn" href="#/"><i style="color:red" class="glyph-icon tooltip-button icon-trash" title="" data-original-title="Delete" aria-describedby="tooltip991223"></i></a>
                                </td>
                            </tr>
                    }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">Basic</h3>
                <div class="example-box-wrapper">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable-example">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var element in Model.BorrowerList)
                        {
                            <tr class="odd gradeX">
                                <td>@element.FirstName</td>
                                <td>@element.LastName</td>
                                <td class="center">@element.Email</td>
                                <td>
                                    <a href="@Url.Action("AddUser", "User", new { id = element.ID })"><i style="color:blue" class="glyph-icon tooltip-button icon-pencil-square-o" title="" data-original-title="Edit" aria-describedby="tooltip854738"></i></a>
                                    <a role="button" data-id="@element.ID" class="DeleteUserBtn" href="#/"><i style="color:red" class="glyph-icon tooltip-button icon-trash" title="" data-original-title="Delete" aria-describedby="tooltip991223"></i></a>
                                </td>
                            </tr>
                    }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    
</div>

