﻿
@{
    ViewBag.Title = "ChangePassword";
}

<style>

    .nav-tabs {
        border: 2px solid #ff5a41;
        color: #ff5a41;
    }

    .nav-item {
        display: table-cell;
        position: relative;
        list-style: none;
        background: #fff;
        border: 2px solid #dee6ec;
        padding: 25px 30px;
        border-radius: 2px;
        cursor: pointer;
        transition: border .1s;
        vertical-align: middle;
    }

    .my-group .form-control {
        width: 50%;
    }

    .infospan {
        color: #9eb4cb;
        font-weight: 400;
    }
</style>

<section class="xs-section-padding xs-gray-bg-2 fundpress-contact-us-section xs-contact-us-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 content-center">
                <div class="xs-section-heading fundpress-section-heading">
                    <div class="xs-heading-title fundpress-heading-title">
                        <h2 class="color-navy-blue">Change your Password</h2>
                        <span class="xs-separetor dashed-separetor fundpress-separetor"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 content-center">
                <div class="xs-contact-form-wraper">

                    @if (ViewBag.Validation != null)
                    {
                        <div class="alert alert-danger" role="alert">@ViewBag.Validation</div>
                    }
                    else if (ViewBag.Success != null)
                    {
                        <div class="alert alert-success" role="alert">@ViewBag.Success</div>
                    
                    }

                    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "ChangePasswordForm" }))
    {
                <div class="row xs-margin-0 xs-mb-30">
                    <div class="col-md-12 xs-padding-0 xs-pr-15">
                        <div class="xs-input-group">
                            <label for="OldPassword">Enter Old Password</label>
                            <div class="xs-input-group-addon">
                                <i class="fa fa-lock color-green xs-input-addon"></i>
                                <input type="password" name="OldPassword" id="OldPassword" class="xs-input-control" placeholder="Old Password...">
                            </div>
                            <label for="OldPassword" generated="true" class="error"></label>
                        </div>
                    </div>
                </div>

                <div class="row xs-margin-0 xs-mb-30">
                    <div class="col-md-12 xs-padding-0 xs-pr-15">
                        <div class="xs-input-group">
                            <label for="NewPassword">New Password</label>
                            <div class="xs-input-group-addon">
                                <i class="fa fa-lock color-green xs-input-addon"></i>
                                <input type="password" name="NewPassword" id="NewPassword" class="xs-input-control" placeholder="Enter your New Password...">
                            </div>
                            <label for="NewPassword" generated="true" class="error"></label>
                        </div>
                    </div>
                </div>

                <div class="row xs-margin-0 xs-mb-30">
                    <div class="col-md-12 xs-padding-0 xs-pr-15">
                        <div class="xs-input-group">
                            <label for="ConfirmPassword">Confirm Password</label>
                            <div class="xs-input-group-addon">
                                <i class="fa fa-lock color-green xs-input-addon"></i>
                                <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="xs-input-control" placeholder="Re Enter your New Password...">
                            </div>
                            <label for="ConfirmPassword" generated="true" class="error"></label>
                        </div>
                    </div>
                </div>


                <div class="xs-submit-wraper content-center">
                    <input type="submit" name="submit" value="Change Password" id="xs_contact_submit" class="xs-submit-btn">
                </div>

}

                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <script>

        $("#ChangePasswordForm").validate({
            rules: {
                OldPassword: {
                    required : true,
                },
                NewPassword: {
                    required : true
                },
                ConfirmPassword: {
                    required: true,
                    equalTo : $("#NewPassword")
                }

            },
            
        });


    </script>
    }
