﻿@using CrowdFunding.Models.Other
@model CrowdFunding.Models.ViewModels.DocumentsRequired_VM
@{
    ViewBag.Title = "DocumentsRequired";
}

<style>
    .files input {
        outline: 2px dashed #92b0b3;
        outline-offset: -10px;
        -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
        transition: outline-offset .15s ease-in-out, background-color .15s linear;
        padding: 120px 0px 85px 35%;
        text-align: center !important;
        margin: 0;
        width: 100% !important;
    }

        .files input:focus {
            outline: 2px dashed #92b0b3;
            outline-offset: -10px;
            -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
            transition: outline-offset .15s ease-in-out, background-color .15s linear;
            border: 1px solid #92b0b3;
        }

    .files {
        position: relative
    }

        .files:after {
            pointer-events: none;
            position: absolute;
            top: 60px;
            left: 0;
            width: 50px;
            right: 0;
            height: 56px;
            content: "";
            background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
            display: block;
            margin: 0 auto;
            background-size: 100%;
            background-repeat: no-repeat;
        }

    .color input {
        background-color: #f1f1f1;
    }

    .files:before {
        position: absolute;
        bottom: 10px;
        left: 0;
        pointer-events: none;
        width: 100%;
        right: 0;
        height: 57px;
        content: " or drag it here. ";
        display: block;
        margin: 0 auto;
        color: #2ea591;
        font-weight: 600;
        text-transform: capitalize;
        text-align: center;
    }
</style>

<section class="xs-section-padding xs-gray-bg-2 fundpress-contact-us-section xs-contact-us-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 content-center">
                <div class="xs-section-heading fundpress-section-heading">
                    <div class="xs-heading-title fundpress-heading-title">
                        <h2 class="color-navy-blue">Verification of your account</h2>
                        <span class="xs-separetor dashed-separetor fundpress-separetor"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <center><b>These are the 3 documents that you have to submit in order to verify your October account</b></center>
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="xs-contact-form-wraper">
                    @if (ViewBag.NotificationMessage != null)
    {
        NotificationMessage message = ViewBag.NotificationMessage as NotificationMessage;
        if (message.MessageType == "Success")
        {
                <div class="alert alert-success" role="alert">@message.Description</div>
}
else
{
                <div class="alert alert-danger" role="alert">@message.Description</div>
}
}
                    @using (Html.BeginForm("DocumentsRequired", "Account", FormMethod.Post, new { id = "DocumentsRequiredForm", enctype = "multipart/form-data" }))
                    {
                @Html.AntiForgeryToken()


                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                                <div class="form-group files">
                                    <label><b>An Identity document</b></label>
                                    @Html.TextBoxFor(x => x.IdentityDocument, new { @class="form-control", type = "file" })
                                    
                                </div>
                        </div>
                        <div class="col-md-6">
                            <br />
                            <br />

                            <p>
                                <label>Please send us one of the following document:</label>
                                <ol>
                                    <li>  A colour copy of both sides of a valid ID card, </li>
                                    <li> A colour copy of a valid passport. </li>
                                </ol>
                                If you are not a citizen of the European Union, a second identity document is required (a colour
                                copy of both sides of driving licence, residence permit).
                            </p>
                        </div>
                    </div>
                </div>



                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                                <div class="form-group files">
                                    <label><b>Proof of residency</b></label>
                                    @Html.TextBoxFor(x=>x.ProofOfResidency, new  { @class="form-control", type="file" })
                                    
                                </div>
                        </div>
                        <div class="col-md-6">
                            <br />
                            <br />

                            <p>
                                <b>Please send us one of the following document:</b>
                                <ol>
                                    <li>Invoice from an utility service (e.g. electricity, gas, internet, telephone or mobile phone),</li>
                                    <li>The last tax notice,</li>
                                    <li>The last residency tax,</li>
                                    <li>The last property tax,</li>
                                    <li>A certificate of residence issued by the municipality.</li>
                                </ol>
                                <b>Important information:</b>
                                <ol>
                                    <li>All documents must be <b>in the name of the ID holder;</b></li>
                                <li><b> If you are staying with someone,</b> please also attach a two-sided ID of the host and a
                                signed certificate of accommodation.</li>
                                    </ol>

                            </p>
                        </div>
                    </div>
                </div>



                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                                <div class="form-group files">
                                    <label><b>A bank statement</b></label>
                                    @Html.TextBoxFor(x=>x.BankStatement,  new { @class="form-control", type="file" })
                                </div>
                        
                        </div>
                        <div class="col-md-6">
                            <br />
                            <br />

                            <p>
                                Please send us an official bank account statement in your name with the IBAN you want to link to
                                your October account (for withdrawals). Your bank account must be from the SEPA zone and use
                                the euro currency
                            </p>
                        </div>
                    </div>
                </div>

                <div class="xs-submit-wraper content-center">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" name="SubmitBtn" value="Submit Documents" id="xs_contact_submit" class="xs-submit-btn">
                        </div>
                    </div>
                </div>

}

                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script>
        $("#DocumentsRequiredForm").validate({
            rules: {
                IdentityDocument: {
                    required: true
                },
                ProofOfResidency: {
                    required: true
                },
                BankStatement: {
                    required: true
                }

            },
        });


        $("#xs_contact_submit").click(function () {
            if ($("#DocumentsRequiredForm").valid()) {
                console.log("Valid");
                $("#DocumentsRequiredForm").submit();
            } else {
                console.log("Invalid");
            }

        });

    </script>

    }