﻿@using CrowdFunding.Models.Other
@{
    ViewBag.Title = "EmailVerification";
}

<section class="xs-section-padding xs-gray-bg-2 fundpress-contact-us-section xs-contact-us-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 content-center">
                <div class="xs-section-heading fundpress-section-heading">
                    <div class="xs-heading-title fundpress-heading-title">
                        <h2 class="color-navy-blue">Email Verification</h2>
                        <span class="xs-separetor dashed-separetor fundpress-separetor"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <center><label for="OldPassword">An Email has been sent you your address containing the code. Please Ente the code below to confirm your email address</label></center>
            </div>
            <div class="col-md-6 content-center">
                <div class="xs-contact-form-wraper">

                    @if (ViewBag.NotificationMessage != null)
                    {
                        NotificationMessage message = ViewBag.NotificationMessage as NotificationMessage;

                        if (message.MessageType == "Success")
                        {
                            <div class="alert alert-success" role="alert">@message.Description</div>

                        }
                        else
                        {
                            <div class="alert alert-danger" role="alert">@message.Description</div>
                        }
                    }
                    @using (Html.BeginForm("EmailVerification", "Account", FormMethod.Post, new { id = "EmailVerificationForm" }))
    {
                @Html.AntiForgeryToken()
                <div class="row xs-margin-0 xs-mb-30">
                    <div class="col-md-12 xs-padding-0 xs-pr-15">
                        <div class="xs-input-group">

                            <div class="xs-input-group-addon">
                                <i class="fa fa-lock color-green xs-input-addon"></i>
                                <input type="text" name="Code" id="Code" class="xs-input-control" placeholder="Activation Code...">
                            </div>

                        </div>
                    </div>
                </div>

                <div class="xs-submit-wraper content-center">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="submit" name="submit" value="Confirm Email" id="xs_contact_submit" class="xs-submit-btn">
                        </div>
                        <div class="col-md-6">
                            <input type="submit" name="button" value="Resend Code" id="xs_contact_submit" class="xs-submit-btn">
                        </div>
                    </div>
                </div>

}

                </div>
            </div>
        </div>
    </div>
</section>
