﻿@model CrowdFunding.Models.ViewModels.Register_VM
@{

    ViewBag.Title = "Register";
}

<section class="xs-section-padding xs-gray-bg-2 fundpress-contact-us-section xs-contact-us-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 content-center">
                <div class="xs-section-heading fundpress-section-heading">
                    <div class="xs-heading-title fundpress-heading-title">
                        <h2 class="color-navy-blue">Open an Account</h2>
                        <span class="xs-separetor dashed-separetor fundpress-separetor"></span>
                        @*<p>Fundpress site thoughtfully designed for real humans which means the best user experience for your entire community of donors, fundraisers, customers, and staff.</p>*@
                    </div><!-- .xs-heading-title .fundpress-heading-title .xs-col-9 END -->
                </div><!-- .xs-section-heading .fundpress-section-heading .xs-spilit-container END -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 content-center">
                <div class="xs-contact-form-wraper">
                    <div class="fundpress-tab-nav-v5">
                        <style>

                            .nav-tabs {
                                border: 2px solid #ff5a41;
                                color: #ff5a41;
                            }

                            .nav-item {
                                display: table-cell;
                                position: relative;
                                list-style: none;
                                background: #fff;
                                border: 2px solid #dee6ec;
                                padding: 25px 30px;
                                border-radius: 2px;
                                cursor: pointer;
                                transition: border .1s;
                                vertical-align: middle;
                            }

                            .my-group .form-control {
                                width: 50%;
                            }

                            .infospan {
                                color: #9eb4cb;
                                font-weight: 400;
                            }

                            
                        </style>

                        <ul class="nav nav-tabs" role="tablist">

                            <li class="nav-item">
                                <a class="nav-link active" href="#Lender" role="tab" data-toggle="tab">
                                    <strong>Lender</strong><div class="description">Lend your money directly to SMEs</div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#Borrower" role="tab" data-toggle="tab">
                                    <strong>Borrower</strong><div class="description">Borrow money from the community</div>
                                </a>
                            </li>
                        </ul>
                    </div><!-- fundpress-tab-nav-v3 -->
                    <!-- Tab panes -->
                    <div class="tab-content" style="margin-top:30px">
                        <div role="tabpanel" class="tab-pane fadeInRights show fade in active" id="Lender">
                            @using (Html.BeginForm("RegisterLender", "Account", FormMethod.Post, new { id = "LenderRegisterForm" }))
                            {

                                <input type="hidden" value="@Request.UrlReferrer" name="RedirectUrl" />
                                <div class="row xs-margin-0 xs-mb-30">
                                    <div class="col-md-6 xs-padding-0 xs-pr-15">
                                        <div class="xs-input-group">
                                            <label for="FirstName">First Name</label>
                                            <div class="xs-input-group-addon">
                                                <i class="fa fa-user color-green xs-input-addon"></i>
                                                <input type="text" name="FirstName" id="FirstName" class="xs-input-control" placeholder="Fist Name...">

                                            </div>
                                            <label for="FirstName" generated="true" class="error"></label>

                                        </div>
                                    </div>
                                    <div class="col-md-6 xs-padding-0 xs-pl-15">
                                        <div class="xs-input-group">
                                            <label for="LastName">Last Name</label>
                                            <div class="xs-input-group-addon">
                                                <i class="fa fa-user color-green xs-input-addon"></i>
                                                <input type="text" name="LastName" id="LastName" class="xs-input-control" placeholder="Last Name...">

                                            </div>
                                            <label for="LastName" generated="true" class="error"></label>

                                        </div>
                                    </div>
                                </div>

                                <div class="row xs-margin-0 xs-mb-30">
                                    <div class="col-md-6 xs-padding-0 xs-pr-15">
                                        <div class="xs-input-group">
                                            <label for="Email">Email</label>
                                            <div class="xs-input-group-addon">
                                                <i class="fa fa-envelope-o color-green xs-input-addon"></i>
                                                <input type="email" name="Email" id="Email" class="xs-input-control" placeholder="Enter your Email...">

                                            </div>
                                            <label for="Email" generated="true" class="error"></label>

                                        </div>
                                    </div>
                                    <div class="col-md-6 xs-padding-0 xs-pl-15">
                                        <div class="xs-input-group">
                                            <label for="Password">Password</label>
                                            <div class="xs-input-group-addon">
                                                <i class="fa fa-lock color-green xs-input-addon"></i>
                                                <input type="password" name="Password" id="Password" class="xs-input-control" placeholder="Enter your password...">

                                            </div>
                                            <label for="Password" generated="true" class="error"></label>

                                        </div>
                                    </div>
                                </div>

                                <div class="row xs-margin-0 xs-mb-30">
                                    <div class="col-md-6 xs-padding-0 xs-pr-15">
                                        <div class="xs-input-group">
                                            <label for="Country">Country</label>
                                            <div class="xs-input-group-addon">
                                                <i class="fa fa-flag color-green xs-input-addon"></i>
                                                <select class="form-control" name="CountryID">
                                                    @foreach (var element in Model.Countries)
                    {
                                <option value="@element.ID">@element.FullName (@element.ShortName)</option>
}
                                                </select>

                                            </div>
                                            <label for="CountryID" generated="true" class="error"></label>

                                        </div>
                                    </div>
                                    <div class="col-md-6 xs-padding-0 xs-pl-15">
                                        <div class="xs-input-group">
                                            <label for="Sponsor">Sponsor</label>
                                            <div class="xs-input-group-addon">
                                                <i class="fa fa-envelope-o color-green xs-input-addon"></i>
                                                <input type="text" name="Sponsor" id="Sponsor" class="xs-input-control" placeholder="Your Sponsor Code...">

                                            </div>
                                            <label for="Sponsor" generated="true" class="error"></label>

                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="row">
                                    <div class="col-md-6 xs-padding-0 xs-pl-15">
                                        <div class="xs-input-group">
                                            <label for="Sponsor">Mobile No</label>
                                            <div class="xs-input-group-addon">
                                                <i class="fa fa-envelope-o color-green xs-input-addon"></i>
                                                <input type="number" name="MobileNo" id="MobileNo" class="xs-input-control" placeholder="Your Mobile Number...">

                                            </div>
                                            <label for="MobileNo" generated="true" class="error"></label>

                                        </div>
                                    </div>
                                </div>

                                <div class="xs-submit-wraper content-center">
                                    <input type="submit" name="submit" value="Register" id="xs_contact_submit" class="xs-submit-btn">
                                </div>
                            }


                        </div><!-- tab-pane -->
                        <div role="tabpanel" class="tab-pane fadeInRights fade" id="Borrower">
                            @using (Html.BeginForm("RegisterBorrower", "Account", FormMethod.Post, new { id = "BorrowerRegisterForm" }))
                            {

                                <input type="hidden" value="@Request.UrlReferrer" name="RedirectUrl" />

                                <div class="row xs-margin-0 xs-mb-30">
                                    <div class="col-md-4 xs-padding-0 xs-pr-15" style="display:none">
                                        <div class="xs-input-group">
                                            <label for="CompanyID">Company ID</label>
                                            <div class="xs-input-group-addon">
                                                <i class="fa fa-user color-green xs-input-addon"></i>
                                                <input type="text" value="1" name="CompanyID" id="CompanyID" class="xs-input-control" placeholder="Company ID...">

                                            </div>
                                            <label for="CompanyID" generated="true" class="error"></label>

                                        </div>
                                    </div>
                                    <div class="col-md-4 xs-padding-0 xs-pl-15">
                                        <div class="xs-input-group">
                                            <label for="LastName">Amount to be refunded</label>
                                            <div class="xs-input-group-addon">
                                                <i class="fa fa-user color-green xs-input-addon"></i>
                                                <input type="text" name="AmountTobeFunded" id="AmountTobeFunded" class="xs-input-control" placeholder="Amount to be Refunded...">

                                            </div>
                                            <label for="AmountTobeFunded" generated="true" class="error"></label>
                                            <p class="infospan">In euros, from € 30,000</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 xs-padding-0 xs-pl-15">
                                        <div class="xs-input-group">
                                            <label for="DurationOfFunding">Duration of Funding</label>
                                            <div class="xs-input-group-addon">
                                                <i class="fa fa-user color-green xs-input-addon"></i>
                                                <input type="text" name="DurationOfFunding" id="DurationOfFunding" class="xs-input-control" placeholder="Duration Of Funding...">

                                            </div>
                                            <label for="DurationOfFunding" generated="true" class="error"></label>
                                            <p class="infospan">Between 3 and 84 months</p>
                                        </div>
                                    </div>
                                </div>


                                <div class="row xs-margin-0 xs-mb-30">
                                    <div class="col-md-6 xs-padding-0 xs-pr-15">
                                        <div class="xs-input-group">
                                            <label for="FirstName">First Name</label>
                                            <div class="xs-input-group-addon">
                                                <i class="fa fa-user color-green xs-input-addon"></i>
                                                <input type="text" name="FirstName" id="BFirstName" class="xs-input-control" placeholder="Fist Name...">
                                            </div>
                                            <label for="BFirstName" generated="true" class="error"></label>

                                        </div>
                                    </div>
                                    <div class="col-md-6 xs-padding-0 xs-pl-15">
                                        <div class="xs-input-group">
                                            <label for="LastName">Last Name</label>
                                            <div class="xs-input-group-addon">
                                                <i class="fa fa-user color-green xs-input-addon"></i>
                                                <input type="text" name="LastName" id="BLastName" class="xs-input-control" placeholder="Last Name...">
                                            </div>
                                            <label for="BLastName" generated="true" class="error"></label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row xs-margin-0 xs-mb-30">
                                    <div class="col-md-4 xs-padding-0 xs-pr-15">
                                        <div class="xs-input-group">
                                            <label for="Email">Email</label>
                                            <div class="xs-input-group-addon">
                                                <i class="fa fa-envelope-o color-green xs-input-addon"></i>
                                                <input type="email" name="Email" id="BEmail" class="xs-input-control" placeholder="Enter your Email...">
                                            </div>
                                            <label for="BEmail" generated="true" class="error"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 xs-padding-0 xs-pl-15">
                                        <div class="xs-input-group">
                                            <label for="Password">Password</label>
                                            <div class="xs-input-group-addon">
                                                <i class="fa fa-lock color-green xs-input-addon"></i>
                                                <input type="password" name="Password" id="Password" class="xs-input-control" placeholder="Enter your Password...">
                                            </div>
                                            <label for="Phone" generated="true" class="error"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 xs-padding-0 xs-pl-15">
                                        <div class="xs-input-group">
                                            <label for="MobileNo">Mobile No</label>
                                            <div class="xs-input-group-addon">
                                                <i class="fa fa-lock color-green xs-input-addon"></i>
                                                <input type="text" name="MobileNo" id="MobileNo" class="xs-input-control" placeholder="Enter your Mobile Number...">
                                            </div>
                                            <label for="Phone" generated="true" class="error"></label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row xs-margin-0 xs-mb-30">
                                    <div class="col-md-6 xs-padding-0 xs-pr-15">
                                        <div class="xs-input-group">
                                            <label for="Country">TurnOver</label>
                                            <div class="xs-input-group-addon">
                                                <select class="form-control" name="TurnOver">
                                                    <option>Less than €&nbsp;250,000</option>
                                                    <option>More than €&nbsp;250,000</option>
                                                    <option>I do not know</option>
                                                </select>
                                            </div>
                                            <label for="Turnover" generated="true" class="error"></label>
                                        </div>

                                    </div>
                                    <div class="col-md-6 xs-padding-0 xs-pl-15">
                                        <div class="xs-input-group">
                                            <label for="Country">Priority of Loan</label>
                                            <div class="xs-input-group-addon">
                                                <select class="form-control" name="PriorityOfLoan">
                                                    <option>Urgent</option>
                                                    <option class="title">In a few weeks</option>
                                                    <option class="title">In a few months</option>
                                                    <option class="title">No immediate need</option>
                                                </select>
                                            </div>
                                            <label for="PriorityOfLoan" generated="true" class="error"></label>
                                        </div>
                                    </div>
                                </div>


                                <div class="xs-submit-wraper content-center">
                                    <input type="submit" name="submit" value="Register" class="xs-submit-btn">
                                </div>



                            }

                        </div><!-- tab-pane -->
                    </div><!-- tab-content -->



                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts {
    <script>

        $("#LenderRegisterForm").validate({
            rules: {
                FirstName: {
                    required: true
                },
                LastName: {
                    required: true
                },
                Email: {
                    required: true,
                    remote: {
                        type: 'post',
                        url: "@Url.Action("IsAvailableEmail", "Validation")",
                        data: {
                            'email': $('#Email').val()
                        },
                    }



                },
                Password: {
                    required : true
                },
                Country: {
                    required : true
                },
                MobileNo: {
                    required : true
                }

            }
        });

        $("#BorrowerRegisterForm").validate({
            rules: {
                CompanyID: {
                    required: true,
                },
                AmountTobeRefunded : {
                    required: true,
                },
                DurationOfFunding: {
                    required: true
                },
                FirstName: {
                    required: true
                },
                LastName: {
                    required:true
                },
                Email : {
                    required: true

                },
                Phone: {
                    required: true

                },
                Turnover: {
                    required: true
                }

            },
            messages: {
            },
            errorPlacement: function (error, element) {
                error.insertAfter(".xs-input-group-addon");
            }
        });

    </script>


}
