﻿@using CrowdFunding.Models.Other
@{
    ViewBag.Title = "VerificationPending";
}




<section class="xs-section-padding xs-gray-bg-2 fundpress-contact-us-section xs-contact-us-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 content-center">
                <div class="xs-section-heading fundpress-section-heading">
                    <div class="xs-heading-title fundpress-heading-title">
                        <h2 class="color-navy-blue"><i class="fa fa-check"></i>Verification Pending</h2>
                        <span class="xs-separetor dashed-separetor fundpress-separetor"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <center><label for="OldPassword">Your files have been submitted. Please wait while we verify your files and activate your account</label></center>
            </div>
            <div class="col-md-6 content-center">
                <div class="xs-contact-form-wraper">
                   <a href="@Url.Action("Index", "Home")" class="btn btn-success" role="button">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</section>