﻿
@{
    ViewBag.Title = "Wallet";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


<div id="page-title">
    <h2>Wallet</h2>
    <span>View/Add Money to Wallet</span>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <div class="example-box-wrapper">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="title-hero">$ @ViewBag.Amount in Wallet</h3>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <a href="#/" class="btn btn-primary" id="AddMoneyBtn">
                                    Add Money
                                    <div class="ripple-wrapper"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="datatable-responsive_wrapper" class="dataTables_wrapper form-inline">
                        <table id="datatable-responsive" class="table table-striped table-bordered responsive no-wrap DataTable dtr-inline" role="grid" aria-describedby="datatable-responsive_info" style="width: 100%;" width="100%" cellspacing="0">

                            <thead>
                                <tr>
                                    <th scope="col" colspan="2">Acc. Nummber</th>
                                    <th scope="col">Validity</th>
                                    <th scope="col">Return</th>
                                    <th scope="col">BALNCE</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <th scope="row" colspan="2">FIX-1 1947- USER ID</th>
                                    <td>1 Month</td>
                                    <td>1.50 % </td>
                                    <td> 30000 RS <button type="button" class="btn btn-primary btn-sm">DEPOSITE</button> </td>
                                </tr>


                                <tr>
                                    <th scope="row" colspan="2">FIX-3 1947- USER ID</th>
                                    <td>3 Month</td>
                                    <td> 2 %</td>
                                    <td>1500 USD <button type="button" class="btn btn-primary btn-sm">DEPOSITE</button></td>
                                </tr>
                                <tr>
                                    <th scope="row" colspan="2">FIX-6 1947 - USER ID</th>
                                    <td> 6 Month </td>
                                    <td>2.50 %</td>
                                    <td>1000 EUR <button type="button" class="btn btn-primary btn-sm">DEPOSITE</button> </td>
                                </tr>
                                <tr>
                                    <th scope="row" colspan="2">FIX-12 1947 - USER ID</th>
                                    <td>12 Month</td>
                                    <td>3 %</td>
                                    <td>1000 EUR <button type="button" class="btn btn-primary btn-sm">DEPOSITE</button> </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="TransactionModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header"></div>
            <div class="modal-body">
                <div class="row">
                    <!-- You can make it whatever width you want. I'm making it full width
             on <= small devices and 4/12 page width on >= medium devices -->
                    <div class="col-xs-12 col-md-12">


                        <!-- CREDIT CARD FORM STARTS HERE -->
                        <div class="panel panel-default credit-card-box">
                            <div class="panel-heading display-table">
                                <div class="row display-tr">
                                    <h3 class="panel-title display-td">Payment Details</h3>
                                    <div class="display-td">
                                        <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form role="form" id="payment-form" method="POST" action="@Url.Action("Wallet","Lender")">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="cardNumber">CARD NUMBER</label>
                                                <div class="input-group">
                                                    <input type="tel"
                                                           class="form-control"
                                                           name="cardNumber"
                                                           placeholder="Valid Card Number"
                                                           autocomplete="cc-number"
                                                           required autofocus />
                                                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-7 col-md-7">
                                            <div class="form-group">
                                                <label for="cardExpiry"><span>EXP</span> DATE</label>
                                                <input type="tel"
                                                       class="form-control"
                                                       name="cardExpiry"
                                                       placeholder="MM / YY"
                                                       autocomplete="cc-exp"
                                                       required />
                                            </div>
                                        </div>
                                        <div class="col-xs-5 col-md-5 pull-right">
                                            <div class="form-group">
                                                <label for="cardCVC">CV CODE</label>
                                                <input type="tel"
                                                       class="form-control"
                                                       name="cardCVC"
                                                       placeholder="CVC"
                                                       autocomplete="cc-csc"
                                                       required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="couponCode">Amount</label>
                                                <input type="text" class="form-control" name="Amount" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button class="subscribe btn btn-success btn-lg btn-block" type="submit">Add To Wallet</button>
                                        </div>
                                    </div>
                                    <div class="row" style="display:none;">
                                        <div class="col-xs-12">
                                            <p class="payment-errors"></p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- CREDIT CARD FORM ENDS HERE -->


                    </div>

                    

                </div>
            </div>
            <div class="modal-footer"></div>

        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.2.3/jquery.payment.min.js"></script>
<!-- If you're using Stripe for payments -->
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

@section Scripts{
    <script>
        $("#AddMoneyBtn").click(function () {

            $("#TransactionModal").modal("show");
        });


    </script>
}





<div class="container">
    
</div>

