﻿@model CrowdFunding.Models.ViewModels.Project_VM

@using CrowdFunding.Models.Other
@{
    ViewBag.Title = "AddProject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">Add Project</h3>
        <div class="example-box-wrapper">
            @using (Html.BeginForm("AddProject", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h4>Project Details</h4>
                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })




                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.HiddenFor(model => model.project.ID)

                            @Html.LabelFor(model => model.project.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.project.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name" } })
                                @Html.ValidationMessageFor(model => model.project.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.project.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.project.Amount, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name" } })
                                @Html.ValidationMessageFor(model => model.project.Amount, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.project.Rate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.project.Rate, new { htmlAttributes = new { @class = "form-control", placeholder = "Email Address" } })
                                @Html.ValidationMessageFor(model => model.project.Rate, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.project.TimeLeft, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.project.TimeLeft, new { type = "text", @class = "form-control datepicker", placeholder = "Password", Value=Model.project.TimeLeft.ToString("yyyy-MM-dd")  })
                                @Html.ValidationMessageFor(model => model.project.TimeLeft, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Tags, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.ListBoxFor(x => x.SelectedTags, new SelectList(Model.Tags, "ID", "Name"), new { type = "number", @class = "form-control select2", placeholder = "Tags", multiple = "multiple" })
                                @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ImageFiles, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.ImageFiles, new { type = "file", @class = "form-control", placeholder = "Select Image", multiple = "multiple" })
                                @Html.ValidationMessageFor(model => model.ImageFiles, "", new { @class = "text-danger" })                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">


                        
                        <div style="width:100px;height:100px;display:inline;object-fit:cover" id="ImageContainer">
                            @if (Model.ProjectImages != null)
                            {
                                foreach (var element in Model.ProjectImages)
                                {
                                    if (!string.IsNullOrEmpty(element))
                                    {
                                        <img src="@Url.Content(element)" style="width:100px;display:inline" id="ProjectImage" class="img-responsive" />
                                    }
                                }
                            }
                        </div>

                    </div>
                </div>   
                <div class="row">
                    <div class="col-md-12">
                        @Html.TextAreaFor(x=>x.project.Description, new { @class="tinymce" , @Value=Model.project.Description})
                    </div>
                </div>
            </div>
            <br>
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <input type="submit" value="@(Model.project.ID == 0 ? "Add" : "Update") Project" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>


