﻿@using CrowdFunding.Models.Other;
@using CrowdFunding.Models.DBModels
@model List<CrowdFunding.Models.ViewModels.ProjectFunding>

@{
    ViewBag.Title = "ProjectFunding";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    SessionUser user = Session["User"] as SessionUser;
}

<div id="page-title">
    <h2>Project Funding</h2>
    <p></p>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <div class="example-box-wrapper">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="title-hero">Project Funding</h3>
                        </div>
                    </div>

                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable-example">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Title</th>
                                @if (user.Role.ID != (int)DefaultRole.Borrower)
                                {
                                    <th>Borrower</th>
                                }
                                @if (user.Role.ID != (int)DefaultRole.Borrower)
                                {
                                    <th>Lender</th>
                                }          
                                <th>Amount</th>             
                                <th>Goal</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var element in Model)
                            {
                            <tr class="odd gradeX">
                                <td>@element.TransactionDate.ToString("dd MMM yyyy")</td>
                                <td>@element.ProjectTitle</td>
                                @if (user.Role.ID != (int)DefaultRole.Borrower)
                                {
                                    <td>@element.BorrowerName</td>
                                }
                                @if (user.Role.ID != (int)DefaultRole.Lender)
                                {
                                    <td>@element.LenderName</td>
                                }
                                <td>@element.Amount</td>
                                <td>@element.Goal</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>




@section Scripts{
    <script>

        $(".DeleteProjectBtn").click(function () {
            var id = $(this).data("id");
            console.log("ID :" + id);
            bootbox.confirm({
                title: "<h4 style='color:red'>Caution!</h4>",
                message: "Deleting this Project may end up deleting all information about this Project from the system. do you still want to continue?",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Cancel'
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> Confirm'
                    }
                },
                callback: function (result) {
                    if (result == true) {
                        $.post("@Url.Action("DeleteProject", "Project")", { ID: id }).then(function () {
                            window.location.reload();
                        });
                    }
                }
            });
        });


    $(".CancelApproval").click(function () {
            var id = $(this).data("id");
            console.log("ID :" + id);
            bootbox.confirm({
                title: "<h4 style='color:red'>Caution!</h4>",
                message: "Are you sure you want to cancel the approval of this Project?",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Cancel'
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> Confirm'
                    }
                },
                callback: function (result) {
                    if (result == true) {
                        $.post("@Url.Action("CancelProject","Project")", { ProjectID: id }).then(function () {
                            window.location.reload();
                        });
                    }
                }
            });
        });



    $(".ConfirmApproval").click(function () {
            var id = $(this).data("id");
            console.log("ID :" + id);
            bootbox.confirm({
                title: "<h4 style='color:red'>Caution!</h4>",
                message: "Are you sure you want to approve this project?",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Cancel'
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> Confirm'
                    }
                },
                callback: function (result) {
                    if (result == true) {
                        $.post("@Url.Action("ConfirmProject","Project")", { ProjectID: id }).then(function () {
                            window.location.reload();
                        });
                    }
                }
            });
        });


    </script>
}

