﻿@using CrowdFunding.Models.Other;
@using CrowdFunding.Models.DBModels
@model List<CrowdFunding.Models.DBModels.Project>
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    SessionUser user = Session["User"] as SessionUser;
}

<div id="page-title">
    <h2>Project Management</h2>
    <p></p>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <div class="example-box-wrapper">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="title-hero">Project Management</h3>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">

                                @if (user.Role.ID == (int)DefaultRole.Borrower)
                                {
                                    
                                <a href="@Url.Action("AddProject","Project")" class="btn btn-primary">
                                    Add Project
                                    <div class="ripple-wrapper"></div>
                                </a>
                                }

                            </div>
                        </div>
                    </div>

                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable-example">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Rate</th>
                                <th>Months</th>
                                <th>Amount</th>
                                <th>Approval</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var element in Model)
                            {
                                <tr class="odd gradeX">
                                    <td>@element.Title</td>
                                    <td>@element.Rate</td>
                                    <td>@(Math.Ceiling(Math.Max(0 , element.TimeLeft.Subtract(DateTime.Now).Days / (365.2425 / 12))))</td>

                                    <td>@element.Amount</td>
                                    <td>
                                        @if (element.Approved)
                                        {
                                            if (user.Role.ID == (int)DefaultRole.Admin)
                                            {
                                                <a href="#" class="CancelApproval"  data-id="@element.ID"><span class="text-success"><i class="glyph-icon icon-check-o"></i> Approved</span></a>
                                            }
                                            else
                                            {
                                                <span class="text-success"><i class="glyph-icon icon-check-o"></i> Approved</span>
                                            }
                                        }
                                        else
                                        {
                                            if (user.Role.ID == (int)DefaultRole.Admin)
                                            {
                                                <a href="#" class="ConfirmApproval"  data-id="@element.ID"><span class="text-danger"> <i class="glyph-icon icon-remove"></i> Pending</span></a>
                                            }
                                            else
                                            {
                                                <span class="text-danger"> <i class="glyph-icon icon-remove"></i> Pending</span>
                                            }
                                            

                                        }
                                    </td>
                                    <td>
                                        <a href="@Url.Action("AddProject", "Project", new { id = element.ID })"><i style="color:blue" class="glyph-icon tooltip-button icon-pencil-square-o" title="" data-original-title="Edit" aria-describedby="tooltip854738"></i></a>
                                        <a role="button" data-id="@element.ID" class="DeleteProjectBtn" href="#/"><i style="color:red" class="glyph-icon tooltip-button icon-trash" title="" data-original-title="Delete" aria-describedby="tooltip991223"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>




@section Scripts{
<script>

        $(".DeleteProjectBtn").click(function () {
            var id = $(this).data("id");
            console.log("ID :" + id);
            bootbox.confirm({
                title: "<h4 style='color:red'>Caution!</h4>",
                message: "Deleting this Project may end up deleting all information about this Project from the system. do you still want to continue?",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Cancel'
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> Confirm'
                    }
                },
                callback: function (result) {
                    if (result == true) {
                        $.post("@Url.Action("DeleteProject", "Project")", { ID: id }).then(function () {
                            window.location.reload();
                        });
                    }
                }
            });
        });


    $(".CancelApproval").click(function () {
            var id = $(this).data("id");
            console.log("ID :" + id);
            bootbox.confirm({
                title: "<h4 style='color:red'>Caution!</h4>",
                message: "Are you sure you want to cancel the approval of this Project?",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Cancel'
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> Confirm'
                    }
                },
                callback: function (result) {
                    if (result == true) {
                        $.post("@Url.Action("CancelProject","Project")", { ProjectID: id }).then(function () {
                            window.location.reload();
                        });
                    }
                }
            });
        });



    $(".ConfirmApproval").click(function () {
            var id = $(this).data("id");
            console.log("ID :" + id);
            bootbox.confirm({
                title: "<h4 style='color:red'>Caution!</h4>",
                message: "Are you sure you want to approve this project?",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Cancel'
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> Confirm'
                    }
                },
                callback: function (result) {
                    if (result == true) {
                        $.post("@Url.Action("ConfirmProject","Project")", { ProjectID: id }).then(function () {
                            window.location.reload();
                        });
                    }
                }
            });
        });


</script>
}