﻿
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}





<div id="page-title">
    <h2>Project Management</h2>
    <p></p>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">

            </div>
            <div class="panel-body">

                <div class="example-box-wrapper">

                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="title-hero">Project Management</h3>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <a href="@Url.Action("AddProject","Project")" class="btn btn-primary">
                                    Add Project
                                    <div class="ripple-wrapper"></div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable-example">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Rate</th>
                                <th>Months</th>
                                <th>Amount</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var element in Model)
                            {
                            <tr class="odd gradeX">
                                <td>
                                    @if (!string.IsNullOrWhiteSpace(element.ImagePath))
                                    {
                                        <img src="@Url.Content(element.ImagePath)" style="width:200px">
                                    }
                                </td>
                                <td>@element.Title</td>
                                <td>@element.Description</td>
                                <td>@element.Rate</td>
                                <td>@element.Months</td>
                                <td>@element.Amount</td>
                                <td>
                                    <a href="@Url.Action("AddProject", "Project", new { id = element.ID })"><i style="color:blue" class="glyph-icon tooltip-button icon-pencil-square-o" title="" data-original-title="Edit" aria-describedby="tooltip854738"></i></a>
                                    <a role="button" data-id="@element.ID" class="DeleteProjectBtn" href="#/"><i style="color:red" class="glyph-icon tooltip-button icon-trash" title="" data-original-title="Delete" aria-describedby="tooltip991223"></i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>




@section Scripts{
    <script>

        $(".DeleteProjectBtn").click(function () {
            var id = $(this).data("id");
            console.log("ID :" + id);
            bootbox.confirm({
                title: "<h4 style='color:red'>Caution!</h4>",
                message: "Deleting this Project may end up deleting all information about this Project from the system. do you still want to continue?",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Cancel'
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> Confirm'
                    }
                },
                callback: function (result) {
                    if (result == true) {
                        $.post("@Url.Action("DeleteProject","Project")", { ProjectID: id }).then(function () {
                            window.location.reload();
                        });
                    }
                }
            });
        });


    </script>
}