﻿@using CrowdFunding.Models.Other
@using CrowdFunding.Models.DBModels

@{

    Layout = null;
    SessionUser user = Session["User"] as SessionUser;
}
<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from agileui.com/demo/delight/demo/admin-template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 10 Aug 2018 05:28:24 GMT -->

<head>
    <style>
        #loading .svg-icon-loader {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -50px 0 0 -50px;
        }

        .select2-selection__choice {
            background: #E91E63 !important;
            color: white;
        }
    </style>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>P2P Funding </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@Url.Content("~/Assets/BackEnd/assets/images/icons/apple-touch-icon-144-precomposed.png")">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@Url.Content("~/Assets/BackEnd/assets/images/icons/apple-touch-icon-114-precomposed.png")">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@Url.Content("~/Assets/BackEnd/assets/images/icons/apple-touch-icon-72-precomposed.png")">
    <link rel="apple-touch-icon-precomposed" href="@Url.Content("~/Assets/BackEnd/assets/images/icons/apple-touch-icon-57-precomposed.png")">
    <link rel="shortcut icon" href="@Url.Content("~/Assets/BackEnd/assets/images/icons/favicon.png")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/helpers/animate.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/helpers/boilerplate.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/helpers/border-radius.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/helpers/grid.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/helpers/page-transitions.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/helpers/spacing.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/helpers/typography.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/helpers/utils.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/helpers/colors.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/material/ripple.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/elements/badges.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/elements/buttons.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/elements/content-box.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/elements/dashboard-box.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/elements/forms.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/elements/images.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/elements/info-box.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/elements/invoice.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/elements/loading-indicators.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/elements/menus.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/elements/panel-box.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/elements/response-messages.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/elements/responsive-tables.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/elements/ribbon.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/elements/social-box.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/elements/tables.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/elements/tile-box.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/elements/timeline.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/icons/fontawesome/fontawesome.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/icons/linecons/linecons.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/icons/spinnericon/spinnericon.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/accordion-ui/accordion.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/calendar/calendar.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/carousel/carousel.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/charts/justgage/justgage.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/charts/morris/morris.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/charts/piegage/piegage.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/charts/xcharts/xcharts.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/chosen/chosen.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/colorpicker/colorpicker.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/datatable/datatable.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/datepicker/datepicker.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/datepicker-ui/datepicker.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/daterangepicker/daterangepicker.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/dialog/dialog.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/dropdown/dropdown.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/dropzone/dropzone.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/file-input/fileinput.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/input-switch/inputswitch.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/input-switch/inputswitch-alt.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/ionrangeslider/ionrangeslider.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/jcrop/jcrop.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/jgrowl-notifications/jgrowl.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/loading-bar/loadingbar.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/maps/vector-maps/vectormaps.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/markdown/markdown.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/modal/modal.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/multi-select/multiselect.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/multi-upload/fileupload.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/nestable/nestable.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/noty-notifications/noty.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/popover/popover.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/pretty-photo/prettyphoto.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/progressbar/progressbar.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/range-slider/rangeslider.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/slidebars/slidebars.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/slider-ui/slider.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/summernote-wysiwyg/summernote-wysiwyg.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/tabs-ui/tabs.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/timepicker/timepicker.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/tocify/tocify.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/tooltip/tooltip.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/touchspin/touchspin.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/uniform/uniform.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/wizard/wizard.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/xeditable/xeditable.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/snippets/chat.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/snippets/files-box.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/snippets/login-box.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/snippets/notification-box.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/snippets/progress-box.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/snippets/todo.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/snippets/user-profile.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/snippets/mobile-navigation.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/applications/mailbox.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/themes/admin/layout.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/themes/admin/color-schemes/default.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/themes/components/default.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/themes/components/border-radius.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/helpers/responsive-elements.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/helpers/admin-responsive.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/select2.min.css")" />
    <link href="@Url.Content("~/Assets/Plugins/toast/jquery.toast.min.css")" rel="stylesheet" />

    <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/js-core/jquery.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/js-core/jquery-ui-core.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/js-core/jquery-ui-widget.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/js-core/jquery-ui-mouse.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/js-core/jquery-ui-position.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/js-core/transition.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/js-core/modernizr.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/js-core/jquery-cookie.js")"></script>


    <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/modal/modal.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/interactions-ui/resizable.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/interactions-ui/draggable.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/interactions-ui/sortable.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/interactions-ui/selectable.js")"></script>


    <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/datepicker/datepicker.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/datepicker-ui/datepicker.js")"></script>

    @*<script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/datepicker-ui/datepicker-demo.js")"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/daterangepicker/moment.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/daterangepicker/daterangepicker.js")"></script>
    @*<script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/daterangepicker/daterangepicker-demo.js")"></script>*@

    <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/timepicker/timepicker.js")"></script>


    <script src="@Url.Content("~/Assets/Plugins/toast/jquery.toast.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/bootbox.min.js")"></script>
    <script type="text/javascript">
        $(window).load(function () {
            setTimeout(function () {
                $('#loading').fadeOut(400, "linear");
            }, 300);
        });
    </script>
</head>

<body>
    <div id="sb-site">
        <div class="sb-slidebar bg-black sb-left sb-style-overlay">
            <div class="scrollable-content scrollable-slim-sidebar">
                <div class="pad10A">
                    <div class="divider-header">Online</div>
                    <ul class="chat-box">
                        <li>
                            <div class="status-badge">
                                <img class="img-circle" width="40" src="@Url.Content("~/Assets/BackEnd/assets/image-resources/people/testimonial1.jpg")" alt="">
                                <div class="small-badge bg-green"></div>
                            </div><b>Grace Padilla</b>
                            <p>On the other hand, we denounce...</p><a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i class="glyph-icon icon-comments-o"></i></a>
                        </li>
                        <li>
                            <div class="status-badge">
                                <img class="img-circle" width="40" src="@Url.Content("~/Assets/BackEnd/assets/image-resources/people/testimonial2.jpg")" alt="">
                                <div class="small-badge bg-green"></div>
                            </div><b>Carl Gamble</b>
                            <p>Dislike men who are so beguiled...</p><a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i class="glyph-icon icon-comments-o"></i></a>
                        </li>
                        <li>
                            <div class="status-badge">
                                <img class="img-circle" width="40" src="@Url.Content("~/Assets/BackEnd/assets/image-resources/people/testimonial3.jpg")" alt="">
                                <div class="small-badge bg-green"></div>
                            </div><b>Michael Poole</b>
                            <p>Of pleasure of the moment, so...</p><a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i class="glyph-icon icon-comments-o"></i></a>
                        </li>
                        <li>
                            <div class="status-badge">
                                <img class="img-circle" width="40" src="@Url.Content("~/Assets/BackEnd/assets/image-resources/people/testimonial4.jpg")" alt="">
                                <div class="small-badge bg-green"></div>
                            </div><b>Bill Green</b>
                            <p>That they cannot foresee the...</p><a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i class="glyph-icon icon-comments-o"></i></a>
                        </li>
                        <li>
                            <div class="status-badge">
                                <img class="img-circle" width="40" src="@Url.Content("~/Assets/BackEnd/assets/image-resources/people/testimonial5.jpg")" alt="">
                                <div class="small-badge bg-green"></div>
                            </div><b>Cheryl Soucy</b>
                            <p>Pain and trouble that are bound...</p><a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i class="glyph-icon icon-comments-o"></i></a>
                        </li>
                    </ul>
                    <div class="divider-header">Idle</div>
                    <ul class="chat-box">
                        <li>
                            <div class="status-badge">
                                <img class="img-circle" width="40" src="@Url.Content("~/Assets/BackEnd/assets/image-resources/people/testimonial6.jpg")" alt="">
                                <div class="small-badge bg-orange"></div>
                            </div><b>Jose Kramer</b>
                            <p>Equal blame belongs to those...</p><a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i class="glyph-icon icon-comments-o"></i></a>
                        </li>
                        <li>
                            <div class="status-badge">
                                <img class="img-circle" width="40" src="@Url.Content("~/Assets/BackEnd/assets/image-resources/people/testimonial7.jpg")" alt="">
                                <div class="small-badge bg-orange"></div>
                            </div><b>Dan Garcia</b>
                            <p>Weakness of will, which is same...</p><a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i class="glyph-icon icon-comments-o"></i></a>
                        </li>
                        <li>
                            <div class="status-badge">
                                <img class="img-circle" width="40" src="@Url.Content("~/Assets/BackEnd/assets/image-resources/people/testimonial8.jpg")" alt="">
                                <div class="small-badge bg-orange"></div>
                            </div><b>Edward Bridges</b>
                            <p>These cases are perfectly simple...</p><a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i class="glyph-icon icon-comments-o"></i></a>
                        </li>
                    </ul>
                    <div class="divider-header">Offline</div>
                    <ul class="chat-box">
                        <li>
                            <div class="status-badge">
                                <img class="img-circle" width="40" src="@Url.Content("~/Assets/BackEnd/assets/image-resources/people/testimonial1.jpg")" alt="">
                                <div class="small-badge bg-red"></div>
                            </div><b>Randy Herod</b>
                            <p>In a free hour, when our power...</p><a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i class="glyph-icon icon-comments-o"></i></a>
                        </li>
                        <li>
                            <div class="status-badge">
                                <img class="img-circle" width="40" src="@Url.Content("~/Assets/BackEnd/assets/image-resources/people/testimonial2.jpg")" alt="">
                                <div class="small-badge bg-red"></div>
                            </div><b>Patricia Bagley</b>
                            <p>when nothing prevents our being...</p><a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i class="glyph-icon icon-comments-o"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sb-slidebar bg-black sb-right sb-style-overlay">
            <div class="scrollable-content scrollable-slim-sidebar">
                <div class="pad15A">
                    <a href="#" title="" data-toggle="collapse" data-target="#sidebar-toggle-1" class="popover-title">Cloud status <span class="caret"></span></a>
                    <div id="sidebar-toggle-1" class="collapse in">
                        <div class="pad15A">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="text-center font-gray pad5B text-transform-upr font-size-12">New visits</div>
                                    <div class="chart-alt-3 font-gray-dark" data-percent="55"><span>55</span>%</div>
                                </div>
                                <div class="col-md-4">
                                    <div class="text-center font-gray pad5B text-transform-upr font-size-12">Bounce rate</div>
                                    <div class="chart-alt-3 font-gray-dark" data-percent="46"><span>46</span>%</div>
                                </div>
                                <div class="col-md-4">
                                    <div class="text-center font-gray pad5B text-transform-upr font-size-12">Server load</div>
                                    <div class="chart-alt-3 font-gray-dark" data-percent="92"><span>92</span>%</div>
                                </div>
                            </div>
                            <div class="divider mrg15T mrg15B"></div>
                            <div class="text-center"><a href="#" class="btn center-div btn-info mrg5T btn-sm text-transform-upr updateEasyPieChart"><i class="glyph-icon icon-refresh"></i> Update charts</a></div>
                        </div>
                    </div>
                    <div class="clear"></div><a href="#" title="" data-toggle="collapse" data-target="#sidebar-toggle-6" class="popover-title">Latest transfers <span class="caret"></span></a>
                    <div id="sidebar-toggle-6" class="collapse in">
                        <ul class="files-box">
                            <li>
                                <i class="files-icon glyph-icon font-red icon-file-archive-o"></i>
                                <div class="files-content">
                                    <b>blog_export.zip</b>
                                    <div class="files-date"><i class="glyph-icon icon-clock-o"></i> added on <b>22.10.2014</b></div>
                                </div>
                                <div class="files-buttons"><a href="#" class="btn btn-xs hover-info tooltip-button" data-placement="left" title="Download"><i class="glyph-icon icon-cloud-download"></i></a> <a href="#" class="btn btn-xs hover-danger tooltip-button" data-placement="left" title="Delete"><i class="glyph-icon icon-times"></i></a></div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <i class="files-icon glyph-icon icon-file-code-o"></i>
                                <div class="files-content">
                                    <b>homepage-test.html</b>
                                    <div class="files-date"><i class="glyph-icon icon-clock-o"></i> added <b>19.10.2014</b></div>
                                </div>
                                <div class="files-buttons"><a href="#" class="btn btn-xs hover-info tooltip-button" data-placement="left" title="Download"><i class="glyph-icon icon-cloud-download"></i></a> <a href="#" class="btn btn-xs hover-danger tooltip-button" data-placement="left" title="Delete"><i class="glyph-icon icon-times"></i></a></div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <i class="files-icon glyph-icon font-yellow icon-file-image-o"></i>
                                <div class="files-content">
                                    <b>monthlyReport.jpg</b>
                                    <div class="files-date"><i class="glyph-icon icon-clock-o"></i> added on <b>10.9.2014</b></div>
                                </div>
                                <div class="files-buttons"><a href="#" class="btn btn-xs hover-info tooltip-button" data-placement="left" title="Download"><i class="glyph-icon icon-cloud-download"></i></a> <a href="#" class="btn btn-xs hover-danger tooltip-button" data-placement="left" title="Delete"><i class="glyph-icon icon-times"></i></a></div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <i class="files-icon glyph-icon font-green icon-file-word-o"></i>
                                <div class="files-content">
                                    <b>new_presentation.doc</b>
                                    <div class="files-date"><i class="glyph-icon icon-clock-o"></i> added on <b>5.9.2014</b></div>
                                </div>
                                <div class="files-buttons"><a href="#" class="btn btn-xs hover-info tooltip-button" data-placement="left" title="Download"><i class="glyph-icon icon-cloud-download"></i></a> <a href="#" class="btn btn-xs hover-danger tooltip-button" data-placement="left" title="Delete"><i class="glyph-icon icon-times"></i></a></div>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div><a href="#" title="" data-toggle="collapse" data-target="#sidebar-toggle-3" class="popover-title">Tasks for today <span class="caret"></span></a>
                    <div id="sidebar-toggle-3" class="collapse in">
                        <ul class="progress-box">
                            <li>
                                <div class="progress-title">New features development <b>87%</b></div>
                                <div class="progressbar-smaller progressbar" data-value="87">
                                    <div class="progressbar-value bg-azure">
                                        <div class="progressbar-overlay"></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="progress-title">Finishing uploading files <b>66%</b></div>
                                <div class="progressbar-smaller progressbar" data-value="66">
                                    <div class="progressbar-value bg-red">
                                        <div class="progressbar-overlay"></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="progress-title">Creating tutorials <b>58%</b></div>
                                <div class="progressbar-smaller progressbar" data-value="58">
                                    <div class="progressbar-value bg-blue-alt"></div>
                                </div>
                            </li>
                            <li>
                                <div class="progress-title">Frontend bonus theme <b>74%</b></div>
                                <div class="progressbar-smaller progressbar" data-value="74">
                                    <div class="progressbar-value bg-purple"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div><a href="#" title="" data-toggle="collapse" data-target="#sidebar-toggle-4" class="popover-title">Pending notifications <span class="bs-label bg-orange tooltip-button" title="Label example">New</span> <span class="caret"></span></a>
                    <div id="sidebar-toggle-4" class="collapse in">
                        <ul class="notifications-box notifications-box-alt">
                            <li>
                                <span class="bg-purple icon-notification glyph-icon icon-users"></span> <span class="notification-text">This is an error notification</span>
                                <div class="notification-time">a few seconds ago <span class="glyph-icon icon-clock-o"></span></div><a href="#" class="notification-btn btn btn-xs btn-black tooltip-button" data-placement="left" title="View details"><i class="glyph-icon icon-arrow-right"></i></a>
                            </li>
                            <li>
                                <span class="bg-warning icon-notification glyph-icon icon-ticket"></span> <span class="notification-text">This is a warning notification</span>
                                <div class="notification-time"><b>15</b> minutes ago <span class="glyph-icon icon-clock-o"></span></div><a href="#" class="notification-btn btn btn-xs btn-black tooltip-button" data-placement="left" title="View details"><i class="glyph-icon icon-arrow-right"></i></a>
                            </li>
                            <li>
                                <span class="bg-green icon-notification glyph-icon icon-random"></span> <span class="notification-text font-green">A success message example.</span>
                                <div class="notification-time"><b>2 hours</b> ago <span class="glyph-icon icon-clock-o"></span></div><a href="#" class="notification-btn btn btn-xs btn-black tooltip-button" data-placement="left" title="View details"><i class="glyph-icon icon-arrow-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="loading">
            <div class="svg-icon-loader"><img src="https://agileui.com/demo/delight/assets/images/svg-loaders/bars.svg" width="40" alt=""></div>
        </div>
        <div id="page-wrapper">
            <div id="mobile-navigation">
                <button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target="#page-sidebar"><span></span></button>
            </div>
            <div id="page-sidebar">
                <div id="header-logo" class="logo-bg"><a href="index.html" class="logo-content-big" title="DelightUI">Delight <i>UI</i> <span>Material Design Dashboard Template</span></a> <a href="index.html" class="logo-content-small" title="DelightUI">Delight <i>UI</i> <span>Material Design Dashboard Template</span></a> <a id="close-sidebar" href="#" title="Close sidebar"><i class="glyph-icon icon-outdent"></i></a></div>
                <div class="scroll-sidebar">
                    <ul id="sidebar-menu">

                        @if (user.Role.ID == (int)DefaultRole.Admin)
                        {
                            <li class="header"><span>Overview</span></li>
                            <li><a href="@Url.Action("AdminDashboard", "Overview")" title="Dashboard"><i class="glyph-icon icon-linecons-tv"></i> <span>Dashboard</span></a></li>
                            <li>
                                <a href="javascript:void(0);" title="Elements"><i class="glyph-icon icon-linecons-diamond"></i> <span>User Management</span></a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li><a href="@Url.Action("VerifyUser", "User")" title="Buttons"><span>Verify User Documents</span></a></li>
                                        <li><a href="@Url.Action("UserManagement", "User")" title="Labels &amp; Badges">User List</a></li>
                                        <li><a href="@Url.Action("AddUser", "User")" title="Content boxes"><span> Add User</span></a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:void(0);" title="Elements"><i class="glyph-icon icon-linecons-diamond"></i> <span>Projects</span></a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li><a href="@Url.Action("Projects", "Project")" title="Users"><i class="glyph-icon icon-linecons-tv"></i> <span>Projects</span></a></li>
                                        <li><a href="@Url.Action("ProjectFunding", "Project")" title="Buttons"><span>Project Investments</span></a></li>
                                    </ul>
                                </div>
                            </li>




                        }
                        else if (user.Role.ID == (int)DefaultRole.Borrower)
                        {
                            <li class="header"><span>Overview</span></li>
                            <li><a href="@Url.Action("BorrowerDashboard", "Overview")" title="Dashboard"><i class="glyph-icon icon-linecons-tv"></i> <span>Dashboard</span></a></li>
                            <li>
                                <a href="javascript:void(0);" title="Elements"><i class="glyph-icon icon-linecons-diamond"></i> <span>Projects</span></a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li><a href="@Url.Action("Projects", "Project")" title="Users"><i class="glyph-icon icon-linecons-tv"></i> <span>Projects</span></a></li>
                                        <li><a href="@Url.Action("ProjectFunding", "Project")" title="Buttons"><span>ProjectInvestments</span></a></li>
                                    </ul>
                                </div>
                            </li>

                            <li><a href="@Url.Action("AddUser", "User")" title="Content boxes"><i class="glyph-icon icon-linecons-tv"></i> <span>Edit Profile</span></a></li>


                        }
                        else if (user.Role.ID == (int)DefaultRole.Lender)
                        {
                            <li class="header"><span>Overview</span></li>
                            <li><a href="@Url.Action("LenderDashboard", "Overview")" title="Dashboard"><i class="glyph-icon icon-linecons-tv"></i> <span>Dashboard</span></a></li>
                            <li><a href="@Url.Action("Wallet", "Lender")" title="Dashboard"><i class="glyph-icon icon-linecons-tv"></i> <span>Wallet</span></a></li>
                            <li><a href="@Url.Action("AddUser", "User")" title="Content boxes"><i class="glyph-icon icon-linecons-tv"></i> <span>Edit Profile</span></a></li>
                            <li><a href="@Url.Action("ProjectFunding", "Project")" title="Buttons"><span>Project Investments</span></a></li>

                        }


                        @*<li class="header"><span>Components</span></li>
                            <li>
                                <a href="javascript:void(0);" title="Elements"><i class="glyph-icon icon-linecons-diamond"></i> <span>Elements</span></a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li><a href="buttons.html" title="Buttons"><span>Buttons</span></a></li>
                                        <li><a href="labels-badges.html" title="Labels &amp; Badges"><span>Labels &amp; Badges</span></a></li>
                                        <li><a href="content-boxes.html" title="Content boxes"><span>Content boxes</span></a></li>
                                        <li><a href="icons.html" title="Icons"><span>Icons</span></a></li>
                                        <li><a href="nav-menus.html" title="Navigation menus"><span>Navigation menus</span></a></li>
                                        <li><a href="response-messages.html" title="Response messages"><span>Response messages</span></a></li>
                                        <li><a href="images.html" title="Images"><span>Images</span></a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:void(0);" title="Dashboard boxes"><i class="glyph-icon icon-linecons-lightbulb"></i> <span>Dashboard boxes</span></a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li><a href="chart-boxes.html" title="Chart boxes"><span>Chart boxes</span></a></li>
                                        <li><a href="tile-boxes.html" title="Tile boxes"><span>Tile boxes</span></a></li>
                                        <li><a href="social-boxes.html" title="Social boxes"><span>Social boxes</span></a></li>
                                        <li><a href="panel-boxes.html" title="Panel boxes"><span>Panel boxes</span></a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:void(0);" title="Widgets"><i class="glyph-icon icon-linecons-wallet"></i> <span>Widgets</span></a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li><a href="tabs.html" title="Responsive tabs"><span>Responsive tabs</span></a></li>
                                        <li><a href="collapsable.html" title="Collapsables"><span>Collapsable accordions</span></a></li>
                                        <li><a href="bs-carousel.html" title="Bootstrap Carousel"><span>Bootstrap carousel</span></a></li>
                                        <li><a href="calendar.html" title="Calendar"><span>Calendar</span></a></li>
                                        <li><a href="scrollbars.html" title="Custom scrollbars"><span>Custom scrollbars</span></a></li>
                                        <li><a href="modals.html" title="Modals"><span>Modals</span></a></li>
                                        <li><a href="notifications.html" title="Notifications"><span>Notifications</span></a></li>
                                        <li><a href="lazyload.html" title="Lazyload"><span>Lazyload</span></a></li>
                                        <li><a href="loading-feedback.html" title="Loading feedback"><span>Loading feedback</span></a></li>
                                        <li><a href="popovers-tooltips.html" title="Popovers &amp; Tooltips"><span>Popovers & Tooltips</span></a></li>
                                        <li><a href="progress-bars.html" title="Progress bars"><span>Progress bars</span></a></li>
                                        <li><a href="sortable-elements.html" title="Sortable elements"><span>Sortable elements</span></a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:void(0);" title="Forms UI"><i class="glyph-icon icon-linecons-eye"></i> <span>Forms UI</span></a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li><a href="forms-elements.html" title="Form elements"><span>Form elements</span></a></li>
                                        <li><a href="forms-validation.html" title="Form validation"><span>Form validation</span></a></li>
                                        <li><a href="pickers.html" title="Pickers"><span>Pickers</span></a></li>
                                        <li><a href="sliders.html" title="Sliders"><span>Sliders</span></a></li>
                                        <li><a href="forms-wizard.html" title="Form wizards"><span>Form wizards</span></a></li>
                                        <li><a href="forms-masks.html" title="Form input masks"><span>Form input masks</span></a></li>
                                        <li><a href="image-crop.html" title="Image crop"><span>Image crop</span></a></li>
                                        <li><a href="dropzone-uploader.html" title="Dropzone uploader"><span>Dropzone uploader</span></a></li>
                                        <li><a href="multi-uploader.html" title="Multi uploader"><span>Multi uploader</span></a></li>
                                        <li><a href="input-knobs.html" title="Input knobs"><span>Input knobs</span></a></li>
                                        <li><a href="ckeditor.html" title="Ckeditor"><span>Ckeditor</span></a></li>
                                        <li><a href="summernote.html" title="Summernote"><span>Summernote</span></a></li>
                                        <li><a href="markdown.html" title="Markdown editor"><span>Markdown editor</span></a></li>
                                        <li><a href="inline-editor.html" title="Inline editor"><span>Inline editor</span></a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:void(0);" title="Advanced tables"><i class="glyph-icon icon-linecons-megaphone"></i> <span>Advanced tables</span></a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li><a href="tables.html" title="Basic tables"><span>Basic tables</span></a></li>
                                        <li><a href="responsive-tables.html" title="Responsive tables"><span>Responsive tables</span></a></li>
                                        <li><a href="data-tables.html" title="Data tables"><span>Data tables</span></a></li>
                                        <li><a href="advanced-datatables.html" title="Advanced data tables"><span>Advanced data tables</span></a></li>
                                        <li><a href="fixed-datatables.html" title="Fixed data tables"><span>Fixed data tables</span></a></li>
                                        <li><a href="responsive-datatables.html" title="Responsive data tables"><span>Responsive data tables</span></a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:void(0);" title="Charts"><i class="glyph-icon icon-linecons-paper-plane"></i> <span>Charts</span></a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li><a href="flot-charts.html" title="Flot charts"><span>Flot charts</span></a></li>
                                        <li><a href="sparklines.html" title="Sparklines"><span>Sparklines</span></a></li>
                                        <li><a href="pie-gages.html" title="PieGages"><span>PieGages</span></a></li>
                                        <li><a href="just-gage.html" title="justGage"><span>justGage</span></a></li>
                                        <li><a href="morris-charts.html" title="Morris charts"><span>Morris charts</span></a></li>
                                        <li><a href="xcharts.html" title="xCharts"><span>xCharts</span></a></li>
                                        <li><a href="chart-js.html" title="Chart.js"><span>Chart.js</span></a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:void(0);" title="Maps"><i class="glyph-icon icon-linecons-sound"></i> <span>Maps</span></a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li><a href="gmaps.html" title="gMaps"><span>gMaps</span></a></li>
                                        <li><a href="vector-maps.html" title="Vector maps"><span>Vector maps</span></a></li>
                                        <li><a href="mapael.html" title="Mapael"><span>Mapael</span></a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="header"><span>Extra</span></li>
                            <li>
                                <a href="javascript:void(0);" title="Pages"><i class="glyph-icon icon-linecons-fire"></i> <span>Pages</span> <span class="bs-label badge-yellow">NEW</span></a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li><a href="index-alt.html" title="Alternate dashboard"><span>Alternate dashboard</span></a></li>
                                        <li><a href="view-profile.html" title="View profile"><span>View profile</span></a></li>
                                        <li><a href="faq-section.html" title="FAQ section"><span>FAQ section</span></a></li>
                                        <li><a href="auto-menu.html" title="Auto menu"><span>Auto menu</span></a></li>
                                        <li><a href="invoice.html" title="Invoice"><span>Invoice</span></a></li>
                                        <li><a href="admin-blog.html" title="Blog posts list"><span>Blog posts list</span></a></li>
                                        <li><a href="admin-pricing.html" title="Pricing tables"><span>Pricing tables</span></a></li>
                                        <li><a href="portfolio-gallery.html" title="Portfolio gallery"><span>Portfolio gallery</span></a></li>
                                        <li><a href="portfolio-masonry.html" title="Portfolio masonry"><span>Portfolio masonry</span></a></li>
                                        <li><a href="slidebars.html" title="Slidebars"><span>Slidebars</span></a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:void(0);" title="Other Pages"><i class="glyph-icon icon-linecons-cup"></i> <span>Other Pages</span></a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li><a href="login-1.html" target="_blank" title="Login page 1"><span>Login page 1</span></a></li>
                                        <li><a href="login-2.html" target="_blank" title="Login page 2"><span>Login page 2</span></a></li>
                                        <li><a href="login-3.html" target="_blank" title="Login page 3"><span>Login page 3</span></a></li>
                                        <li><a href="login-4.html" target="_blank" title="Login page 4"><span>Login page 4</span></a></li>
                                        <li><a href="login-5.html" target="_blank" title="Login page 5"><span>Login page 5</span></a></li>
                                        <li><a href="lockscreen-1.html" target="_blank" title="Lockscreen page 1"><span>Lockscreen page 1</span></a></li>
                                        <li><a href="lockscreen-2.html" target="_blank" title="Lockscreen page 2"><span>Lockscreen page 2</span></a></li>
                                        <li><a href="lockscreen-3.html" target="_blank" title="Lockscreen page 3"><span>Lockscreen page 3</span></a></li>
                                        <li><a href="server-1.html" target="_blank" title="Server page 1"><span>Error 404 page</span></a></li>
                                        <li><a href="server-2.html" target="_blank" title="Server page 2"><span>Error 404 alternate</span></a></li>
                                        <li><a href="server-3.html" target="_blank" title="Server page 3"><span>Server 500 error</span></a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:void(0);" title="Mailbox"><i class="glyph-icon icon-linecons-mail"></i> <span>Mailbox</span> <span class="bs-badge badge-danger">3</span></a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li><a href="mailbox-inbox.html" title="Inbox"><span>Inbox</span></a></li>
                                        <li><a href="mailbox-compose.html" title="Compose message"><span>Compose message</span></a></li>
                                        <li><a href="mailbox-single.html" title="Single message"><span>Single message</span></a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:void(0);" title="Snippets"><i class="glyph-icon icon-linecons-cd"></i> <span>Snippets</span></a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li><a href="timeline.html" title="Timeline"><span>Timeline</span></a></li>
                                        <li><a href="chat.html" title="Chat"><span>Chat</span></a></li>
                                        <li><a href="checklist.html" title="Checklist"><span>Checklist</span></a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:void(0);" title="Helpers"><i class="glyph-icon icon-linecons-doc"></i> <span>Helpers</span></a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li><a href="helper-classes.html" title="Helper classes"><span>Helper classes</span></a></li>
                                        <li><a href="page-transitions.html" title="Page transitions"><span>Page transitions</span></a></li>
                                        <li><a href="animations.html" title="Animations"><span>Animations</span></a></li>
                                    </ul>
                                </div>
                            </li>*@
                    </ul>
                </div>
            </div>
            <div id="page-content-wrapper">
                <div id="page-content">
                    <div id="page-header">
                        <div id="header-nav-left">
                            @*<a class="header-btn" id="logout-btn" href="lockscreen-3.html" title="Lockscreen page example"><i class="glyph-icon icon-linecons-lock"></i></a>*@
                            <div class="user-account-btn dropdown">
                                <a href="#" title="My Account" class="user-profile clearfix" data-toggle="dropdown"><img width="28" src="@Url.Content("~/Assets/BackEnd/assets/image-resources/gravatar.jpg")" alt="Profile image"> <span>@user.FirstName @user.LastName</span> <i class="glyph-icon icon-angle-down"></i></a>
                                <div class="dropdown-menu float-right">
                                    <div class="box-sm">
                                        <div class="login-box clearfix">
                                            <div class="user-img"><a href="#" title="" class="change-img">Change photo</a> <img src="@Url.Content("~/Assets/BackEnd/assets/image-resources/gravatar.jpg")" alt=""></div>
                                            <div class="user-info"><span>@user.FirstName @user.LastName <i>@user.Role.Name</i></span> <a href="#" title="Edit profile">Edit profile</a> <a href="#" title="View notifications">View notifications</a></div>
                                        </div>
                                        <div class="divider"></div>

                                        <div class="button-pane button-pane-alt pad5L pad5R text-center"><a href="@Url.Action("Logout", "Account")" class="btn btn-flat display-block font-normal btn-danger"><i class="glyph-icon icon-power-off"></i> Logout</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="header-nav-right">
                            @*<a href="#" class="hdr-btn popover-button" title="Search" data-placement="bottom" data-id="#popover-search"><i class="glyph-icon icon-search"></i></a>
                                <div class="hide" id="popover-search">
                                    <div class="pad5A box-md">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search terms here ..."> <span class="input-group-btn"><a class="btn btn-primary" href="#">Search</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown" id="dashnav-btn">
                                    <a href="#" data-toggle="dropdown" data-placement="bottom" class="popover-button-header tooltip-button" title="Dashboard Quick Menu"><i class="glyph-icon icon-linecons-cog"></i></a>
                                    <div class="dropdown-menu float-left">
                                        <div class="box-sm">
                                            <div class="pad5T pad5B pad10L pad10R dashboard-buttons clearfix"><a href="#" class="btn vertical-button hover-blue-alt" title=""><span class="glyph-icon icon-separator-vertical pad0A medium"><i class="glyph-icon icon-dashboard opacity-80 font-size-20"></i></span> Dashboard</a> <a href="#" class="btn vertical-button hover-green" title=""><span class="glyph-icon icon-separator-vertical pad0A medium"><i class="glyph-icon icon-tags opacity-80 font-size-20"></i></span> Widgets</a> <a href="#" class="btn vertical-button hover-orange" title=""><span class="glyph-icon icon-separator-vertical pad0A medium"><i class="glyph-icon icon-fire opacity-80 font-size-20"></i></span> Tables</a> <a href="#" class="btn vertical-button hover-orange" title=""><span class="glyph-icon icon-separator-vertical pad0A medium"><i class="glyph-icon icon-bar-chart-o opacity-80 font-size-20"></i></span> Charts</a> <a href="#" class="btn vertical-button hover-purple" title=""><span class="glyph-icon icon-separator-vertical pad0A medium"><i class="glyph-icon icon-laptop opacity-80 font-size-20"></i></span> Buttons</a> <a href="#" class="btn vertical-button hover-azure" title=""><span class="glyph-icon icon-separator-vertical pad0A medium"><i class="glyph-icon icon-code opacity-80 font-size-20"></i></span> Panels</a></div>
                                            <div class="divider"></div>
                                            <div class="pad5T pad5B pad10L pad10R dashboard-buttons clearfix"><a href="#" class="btn vertical-button remove-border btn-info" title=""><span class="glyph-icon icon-separator-vertical pad0A medium"><i class="glyph-icon icon-dashboard opacity-80 font-size-20"></i></span> Dashboard</a> <a href="#" class="btn vertical-button remove-border btn-danger" title=""><span class="glyph-icon icon-separator-vertical pad0A medium"><i class="glyph-icon icon-tags opacity-80 font-size-20"></i></span> Widgets</a> <a href="#" class="btn vertical-button remove-border btn-purple" title=""><span class="glyph-icon icon-separator-vertical pad0A medium"><i class="glyph-icon icon-fire opacity-80 font-size-20"></i></span> Tables</a> <a href="#" class="btn vertical-button remove-border btn-azure" title=""><span class="glyph-icon icon-separator-vertical pad0A medium"><i class="glyph-icon icon-bar-chart-o opacity-80 font-size-20"></i></span> Charts</a> <a href="#" class="btn vertical-button remove-border btn-yellow" title=""><span class="glyph-icon icon-separator-vertical pad0A medium"><i class="glyph-icon icon-laptop opacity-80 font-size-20"></i></span> Buttons</a> <a href="#" class="btn vertical-button remove-border btn-warning" title=""><span class="glyph-icon icon-separator-vertical pad0A medium"><i class="glyph-icon icon-code opacity-80 font-size-20"></i></span> Panels</a></div>
                                        </div>
                                    </div>
                                </div><a href="#" class="hdr-btn" id="fullscreen-btn" title="Fullscreen"><i class="glyph-icon icon-arrows-alt"></i></a> <a href="#" class="hdr-btn sb-toggle-left" id="chatbox-btn" title="Chat sidebar"><i class="glyph-icon icon-linecons-paper-plane"></i></a>
                                <div class="dropdown" id="notifications-btn">
                                    <a data-toggle="dropdown" href="#" title=""><span class="small-badge bg-yellow"></span> <i class="glyph-icon icon-linecons-megaphone"></i></a>
                                    <div class="dropdown-menu box-md float-left">
                                        <div class="popover-title display-block clearfix pad10A">Notifications <a class="text-transform-cap font-primary font-normal btn-link float-right" href="#" title="View more options">More options...</a></div>
                                        <div class="scrollable-content scrollable-slim-box">
                                            <ul class="no-border notifications-box">
                                                <li>
                                                    <span class="bg-danger icon-notification glyph-icon icon-bullhorn"></span> <span class="notification-text">This is an error notification</span>
                                                    <div class="notification-time">a few seconds ago <span class="glyph-icon icon-clock-o"></span></div>
                                                </li>
                                                <li>
                                                    <span class="bg-warning icon-notification glyph-icon icon-users"></span> <span class="notification-text font-blue">This is a warning notification</span>
                                                    <div class="notification-time"><b>15</b> minutes ago <span class="glyph-icon icon-clock-o"></span></div>
                                                </li>
                                                <li>
                                                    <span class="bg-green icon-notification glyph-icon icon-sitemap"></span> <span class="notification-text font-green">A success message example.</span>
                                                    <div class="notification-time"><b>2 hours</b> ago <span class="glyph-icon icon-clock-o"></span></div>
                                                </li>
                                                <li>
                                                    <span class="bg-azure icon-notification glyph-icon icon-random"></span> <span class="notification-text">This is an error notification</span>
                                                    <div class="notification-time">a few seconds ago <span class="glyph-icon icon-clock-o"></span></div>
                                                </li>
                                                <li>
                                                    <span class="bg-warning icon-notification glyph-icon icon-ticket"></span> <span class="notification-text">This is a warning notification</span>
                                                    <div class="notification-time"><b>15</b> minutes ago <span class="glyph-icon icon-clock-o"></span></div>
                                                </li>
                                                <li>
                                                    <span class="bg-blue icon-notification glyph-icon icon-user"></span> <span class="notification-text font-blue">Alternate notification styling.</span>
                                                    <div class="notification-time"><b>2 hours</b> ago <span class="glyph-icon icon-clock-o"></span></div>
                                                </li>
                                                <li>
                                                    <span class="bg-purple icon-notification glyph-icon icon-user"></span> <span class="notification-text">This is an error notification</span>
                                                    <div class="notification-time">a few seconds ago <span class="glyph-icon icon-clock-o"></span></div>
                                                </li>
                                                <li>
                                                    <span class="bg-warning icon-notification glyph-icon icon-user"></span> <span class="notification-text">This is a warning notification</span>
                                                    <div class="notification-time"><b>15</b> minutes ago <span class="glyph-icon icon-clock-o"></span></div>
                                                </li>
                                                <li>
                                                    <span class="bg-green icon-notification glyph-icon icon-user"></span> <span class="notification-text font-green">A success message example.</span>
                                                    <div class="notification-time"><b>2 hours</b> ago <span class="glyph-icon icon-clock-o"></span></div>
                                                </li>
                                                <li>
                                                    <span class="bg-purple icon-notification glyph-icon icon-user"></span> <span class="notification-text">This is an error notification</span>
                                                    <div class="notification-time">a few seconds ago <span class="glyph-icon icon-clock-o"></span></div>
                                                </li>
                                                <li>
                                                    <span class="bg-warning icon-notification glyph-icon icon-user"></span> <span class="notification-text">This is a warning notification</span>
                                                    <div class="notification-time"><b>15</b> minutes ago <span class="glyph-icon icon-clock-o"></span></div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="button-pane button-pane-alt pad5T pad5L pad5R text-center"><a href="#" class="btn btn-flat btn-primary" title="View all notifications">View all notifications</a></div>
                                    </div>
                                </div>
                                <div class="dropdown" id="progress-btn">
                                    <a data-toggle="dropdown" href="#" title=""><span class="small-badge bg-azure"></span> <i class="glyph-icon icon-linecons-params"></i></a>
                                    <div class="dropdown-menu pad0A box-sm float-left" id="progress-dropdown">
                                        <div class="scrollable-content scrollable-slim-box">
                                            <ul class="no-border progress-box progress-box-links">
                                                <li>
                                                    <a href="#" title="">
                                                        <div class="progress-title">Finishing uploading files <b>23%</b></div>
                                                        <div class="progressbar-smaller progressbar" data-value="23">
                                                            <div class="progressbar-value bg-blue-alt">
                                                                <div class="progressbar-overlay"></div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="">
                                                        <div class="progress-title">Roadmap progress <b>91%</b></div>
                                                        <div class="progressbar-smaller progressbar" data-value="91">
                                                            <div class="progressbar-value bg-red">
                                                                <div class="progressbar-overlay"></div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="">
                                                        <div class="progress-title">Images upload <b>58%</b></div>
                                                        <div class="progressbar-smaller progressbar" data-value="58">
                                                            <div class="progressbar-value bg-green"></div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="">
                                                        <div class="progress-title">WordPress migration <b>74%</b></div>
                                                        <div class="progressbar-smaller progressbar" data-value="74">
                                                            <div class="progressbar-value bg-purple"></div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="">
                                                        <div class="progress-title">Agile development procedures <b>91%</b></div>
                                                        <div class="progressbar-smaller progressbar" data-value="91">
                                                            <div class="progressbar-value bg-black">
                                                                <div class="progressbar-overlay"></div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="">
                                                        <div class="progress-title">Systems integration <b>58%</b></div>
                                                        <div class="progressbar-smaller progressbar" data-value="58">
                                                            <div class="progressbar-value bg-azure"></div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="">
                                                        <div class="progress-title">Code optimizations <b>97%</b></div>
                                                        <div class="progressbar-smaller progressbar" data-value="97">
                                                            <div class="progressbar-value bg-yellow"></div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="button-pane button-pane-alt pad5A text-center"><a href="#" class="btn btn-flat display-block font-normal hover-green" title="View all notifications">View all notifications</a></div>
                                    </div>
                                </div>*@
                            @*<div class="dropdown" id="cloud-btn"><a href="#" data-placement="bottom" class="tooltip-button sb-toggle-right" title="Statistics Sidebar"><i class="glyph-icon icon-linecons-cloud"></i></a></div>*@
                        </div>
                    </div>


                    @RenderBody()
                </div>
            </div>
        </div>


        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/skycons/skycons.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/datatable/datatable.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/datatable/datatable-bootstrap.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/datatable/datatable-tabletools.js")"></script>
        <script src="@Url.Content("~/Scripts/tinymce/tinymce.min.js")"></script>

        <script type="text/javascript">



            tinymce.init({
                selector: '.tinymce'
            });
            console.log("Called");
            $("input[type=file]").change(function () {
                if ($(this).data("src") != null && $(this).data("src") != 'undefined') {
                    readURL(this);
                }
            });

            function isNullOrEmpty(s) {
                return (s == null || s === "");
            }

            function readURL(input) {
                var id = $(input).attr("data-src");
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $(id).attr("src", e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            function htmlEncode(value) {
                var encodedValue = $('<div />').text(value).html();
                return encodedValue;
            }

            /* Datatables basic */

            $(document).ready(function () {
                $('#datatable-example').dataTable();
            });

            /* Datatables hide columns */

            $(document).ready(function () {
                var table = $('#datatable-hide-columns').DataTable({
                    "scrollY": "300px",
                    "paging": false
                });

                $('#datatable-hide-columns_filter').hide();

                $('a.toggle-vis').on('click', function (e) {
                    e.preventDefault();

                    // Get the column API object
                    var column = table.column($(this).attr('data-column'));

                    // Toggle the visibility
                    column.visible(!column.visible());
                });
            });

            /* Datatable row highlight */

            $(document).ready(function () {
                var table = $('#datatable-row-highlight').DataTable();

                $('#datatable-row-highlight tbody').on('click', 'tr', function () {
                    $(this).toggleClass('tr-selected');
                });
            });

            $(document).ready(function () {
                $('.dataTables_filter input').attr("placeholder", "Search...");
            });
        </script>
        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/charts/chart-js/chart-core.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/charts/chart-js/chart-doughnut.js")"></script>

        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/charts/flot/flot.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/charts/flot/flot-resize.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/charts/flot/flot-stack.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/charts/flot/flot-pie.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/charts/flot/flot-tooltip.js")"></script>

        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/charts/sparklines/sparklines.js")"></script>

        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/BackEnd/assets/widgets/owlcarousel/owlcarousel.css")">
        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/owlcarousel/owlcarousel.js")"></script>




        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/dropdown/dropdown.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/tooltip/tooltip.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/popover/popover.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/progressbar/progressbar.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/button/button.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/collapse/collapse.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/superclick/superclick.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/input-switch/inputswitch-alt.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/slimscroll/slimscroll.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/slidebars/slidebars.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/slidebars/slidebars-demo.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/charts/piegage/piegage.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/charts/piegage/piegage-demo.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/screenfull/screenfull.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/content-box/contentbox.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/material/material.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/material/ripples.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/widgets/overlay/overlay.js")"></script>
        @*<script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/js-init/widgets-init.js")"></script>*@
        <script src="@Url.Content("~/Scripts/select2.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Assets/BackEnd/assets/themes/admin/layout.js")"></script>

    </div>

    <script>
        $(function () {
            $(".select2").select2();
            $('.datepicker').bsdatepicker({
                format: 'yyyy-mm-dd'
            });
        });


        function Notify(message, position = "top-right") {
            var theme = "";
            if (message.MessageType == "Success") {
                theme = "bg-green";
            } else if (message.MessageType == "Error") {
                theme = "bg-red";
            } else if (message.MessageType == "Warning") {
                theme = "bg-orange";
            } else if (message.MessageType == "Info") {
                theme = "bg-blue-alt";
            }

            $.toast({
                heading: message.MessageType,
                text: message.Description,
                showHideTransition: 'plain',
                icon: message.MessageType.toLowerCase(),
                position: 'bottom-right',
            });

        }




    </script>
    @if (ViewBag.NotificationMessage != null)
    {
        <script>
            $(function () {
                var message = @(Html.Raw(Json.Encode(ViewBag.NotificationMessage)));
                if (message.IsViewMessage) {
                    Notify(message);
                }
            });
        </script>
    }
    @if (TempData["NotificationMessage"] != null)
    {
        <script>
            $(function () {
                var message = @(Html.Raw(Json.Encode(TempData["NotificationMessage"])));
                if (message.IsRedirectMessage) {
                    Notify(message);
                }
            });
        </script>
    }


    @RenderSection("Scripts", false)
</body>
<!-- Mirrored from agileui.com/demo/delight/demo/admin-template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 10 Aug 2018 05:31:27 GMT -->

</html>