﻿<!-- get_header('Page Name','Title')-->
@using CrowdFunding.Models.Other
<!doctype html>
<html class="no-js" lang="en">

<!-- Mirrored from demo.xpeedstudio.com/html/fundpress/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Dec 2018 11:04:54 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>P2P Funding</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CPoppins:200,400,500,600,700%7CPlayfair+Display:400,700i" rel="stylesheet">
    <link rel="icon" type="image/png" href="favicon.html">
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="apple-touch-icon.html">

    <!-- Icon foont list -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/FrontEnd/Assets/css/iconfont.css")">
    <link rel="stylesheet" href="@Url.Content("~/Assets/FrontEnd/Assets/css/font-awesome.min.css")">

    <!-- bootstrap -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/FrontEnd/Assets/css/bootstrap.min.css")">
    <!-- isotope -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/FrontEnd/Assets/css/isotope.css")">
    <!-- magnific -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/FrontEnd/Assets/css/magnific-popup.css")">
    <!-- owl carousel -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/FrontEnd/Assets/css/owl.carousel.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Assets/FrontEnd/Assets/css/owl.theme.default.min.css")">
    <!-- woocommerce -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/FrontEnd/Assets/css/woocommerce.css")">


    <!--For Plugins external css-->
    <link rel="stylesheet" href="@Url.Content("~/Assets/FrontEnd/Assets/css/plugins.css")" />

    <!--Theme custom css -->
    <link rel="stylesheet" href="@Url.Content("~/Assets/FrontEnd/Assets/css/style.css")">

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="@Url.Content("~/Assets/FrontEnd/Assets/css/responsive.css")" />

    <script src="@Url.Content("~/Assets/FrontEnd/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js")"></script>


    <style>
        label.error {
        margin-top:10px;
        color:red;
        }

    </style>

</head>
<body class="woocommerce">
    <!--[if lt IE 10]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="preloader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div><!-- #preloader -->
    <!-- home section -->
    <!-- header version inner menu -->
    <header class="xs-header-height xs-menu-style-transparent xs-menu-style-border fundpress-header-main-version color-navy-blue v3">
        <div class="container">
            <nav class="xs-menus fundpress-menu">
                <div class="nav-header">
                    <div class="nav-toggle"></div>
                    <a class="nav-brand nav-logo" href="index.html">
                        <img src="@Url.Content("~/Assets/FrontEnd/assets/images/logo.png")" alt="">
                    </a>
                </div><!-- . END -->
                <div class="nav-menus-wrapper">
                    <div class="xs-logo-wraper">
                        <a class="nav-brand xs-logo fundpress-logo-v1" href="index.html">
                            <img src="@Url.Content("~/Assets/FrontEnd/assets/images/logo.png")" alt="">
                        </a>
                    </div>
                    <ul class="nav-menu">
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li><a href="@Url.Action("Activity", "Lender")">Activity</a></li>
                        <li><a href="@Url.Action("Projects", "Lender")">Projects</a></li>
                        <li><a href="@Url.Action("Portfolio", "Lender")">Portfolio</a></li>

                        @*<li><a href="contact.html">contact</a></li>*@

                    </ul>
                    <div class="xs-navs-button">
                        <ul class="nav-menu" style="width:100%">
                            @if (Session["User"] != null)
    {
        SessionUser user = Session["User"] as SessionUser;

                        <li>
                            <a href="#"><i class="fa fa-unlock-alt color-green"></i>Welcome @user.FirstName @user.LastName</a>
                            <ul class="nav-dropdown">
                                <li><a href="@Url.Action("Dashboard", "Overview")">Dashboard</a></li>
                                <li><a href="@Url.Action("Profile", "User")">Profile</a></li>
                                <li><a href="@Url.Action("ChangePassword", "Account")">Change Password</a></li>
                                <li><a href="@Url.Action("Logout", "Account")">Logout</a></li>
                            </ul>
                        </li>
}
else
{
                        <li><a href="#" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-unlock-alt color-green"></i>Log In</a></li>
                        <li><a href="@Url.Action("Register", "Account")"><i class="fa fa-unlock-alt color-green"></i>Register</a></li>
}

                            @*<li class="d-block d-lg-none d-xl-block"><a href="#" class="xs-btn round-btn green-btn">start a campaign</a></li>*@
                        </ul>
                    </div>
                </div><!-- .nav-menus-wrapper END -->
            </nav><!-- .xs-menus .fundpress-menu END -->
        </div>
    </header>


    <div class="modal fade bd-example-modal-lg xs-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="fundpress-tab-nav-v5">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#login" role="tab" data-toggle="tab">
                                Login
                            </a>
                        </li>

                    </ul>
                </div><!-- fundpress-tab-nav-v3 -->
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fadeInRights show fade in active" id="login">
                        <form action="@Url.Action("Login", "Account")" method="POST" id="xs-login-form">
                            <input type="hidden" name="RedirectUrl" value="@Request.Url">
                            <div class="xs-input-group-v2">
                                <i class="icon icon-profile-male"></i>
                                <input type="text" name="Email" id="xs_user_login_name" class="xs-input-control" placeholder="Enter your email">
                            </div>
                            <div class="xs-input-group-v2">
                                <i class="icon icon-key2"></i>
                                <input type="password" name="Password" id="xs_login_password" class="xs-input-control" placeholder="Enter your password">
                            </div>
                            <div class="xs-submit-wraper xs-mb-20">
                                <input type="submit" name="submit" value="login now" id="xs_contact_get_action" class="btn btn-warning btn-block">
                            </div>

                        </form>
                    </div><!-- tab-pane -->
                    <!-- tab-pane -->
                </div><!-- tab-content -->
            </div>
        </div>
    </div>


    <main class="xs-all-content-wrapper">
        @RenderBody()
    </main>


    <footer class="xs-footer-section xs-fixed-footer fundpress-footer-section">
        <div class="fundpress-footer-top-layer">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="fundpress-single-footer">
                            <div class="xs-footer-logo">
                                <a href="index.html">
                                    <img src="@Url.Content("~/Assets/FrontEnd/assets/images/footer_logo.png")" alt="">
                                </a>
                            </div>
                            <div class="fundpress-footer-content">
                                <p>FundPress online and raise money for charity and causes you’re passionate about. FundPress is an innovative, cost-effective online fundraising website for personal fundraising pages.</p>
                            </div><!-- . END -->
                            <ul class="xs-social-list fundpress-social-list">
                                <li><a href="#" class="color-facebook full-round"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="color-twitter full-round"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="color-dribbble full-round"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#" class="color-pinterest full-round"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#" class="color-instagram full-round"><i class="fa fa-instagram"></i></a></li>
                            </ul><!-- .xs-social-list .fundpress-social-list END -->
                        </div><!-- .fundpress-single-footer END -->
                    </div>
                    <div class="col-md-3">
                        <div class="fundpress-single-footer">
                            <div class="xs-footer-title">
                                <h4 class="color-white">Explore Campaigns</h4>
                            </div><!-- .xs-footer-title END -->
                            <nav class="xs-footer-menu">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="#">Gadgets</a></li>
                                    <li><a href="#">Monuments</a></li>
                                    <li><a href="#">Travels</a></li>
                                    <li><a href="#">Accessoriers</a></li>
                                    <li><a href="#">Books</a></li>
                                    <li><a href="#">Community Programs</a></li>
                                    <li><a href="#">Design</a></li>
                                </ul>
                            </nav><!-- .xs-footer-menu .xs-block-menu END -->
                        </div><!-- .fundpress-single-footer END -->
                    </div>
                    <div class="col-md-2">
                        <div class="fundpress-single-footer">
                            <div class="xs-footer-title">
                                <h4 class="color-white">About</h4>
                            </div><!-- .xs-footer-title END -->
                            <nav class="xs-footer-menu">
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="#">How It Works</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Press</a></li>
                                    <li><a href="news-feed.html">Blog</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav><!-- .xs-footer-menu .xs-block-menu END -->
                        </div><!-- .fundpress-single-footer END -->
                    </div>
                    <div class="col-md-2">
                        <div class="fundpress-single-footer">
                            <div class="xs-footer-title">
                                <h4 class="color-white">Help</h4>
                            </div><!-- .xs-footer-title END -->
                            <nav class="xs-footer-menu">
                                <ul>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="#">Our Rules</a></li>
                                    <li><a href="#">Trust & Safety</a></li>
                                    <li><a href="#">Support</a></li>
                                    <li><a href="#">Terms of Use</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul>
                            </nav><!-- .xs-footer-menu .xs-block-menu END -->
                        </div><!-- .fundpress-single-footer END -->
                    </div>
                </div>
            </div>
        </div><!-- .xs-footer-wraper .fundpress-footer-top-layer END -->
        <div class="xs-footer-bottom-layer fundpress-footer-bottom">
            <div class="container">
                <div class="xs-footer-bottom-wraper">
                    <div class="xs-copyright-text fundpress-copyright-text">
                        <p>Built with <i class="fa fa-heart"></i> by <a href="https://xpeedstudio.com/">XpeedStudio</a></p>
                    </div>
                    <div class="xs-back-to-top-wraper">
                        <a href="#" class="xs-back-to-top full-round green-btn xs-back-to-top-btn show-last-pos">
                            <i class="fa fa-angle-up"></i>
                        </a>
                    </div><!-- .xs-back-to-top-wraper END -->
                </div>
            </div>
        </div><!-- .xs-footer-bottom-layer .fundpress-footer-bottom END -->
    </footer>


    <script src="@Url.Content("~/Assets/FrontEnd/assets/js/jquery-3.2.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Assets/FrontEnd/assets/js/plugins.js")"></script>
    <script src="@Url.Content("~/Assets/FrontEnd/assets/js/Popper.js")"></script>
    <script src="@Url.Content("~/Assets/FrontEnd/assets/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Assets/FrontEnd/assets/js/isotope.pkgd.min.js")"></script>
    <script src="@Url.Content("~/Assets/FrontEnd/assets/js/jquery.easing.1.3.js")"></script>
    <script src="@Url.Content("~/Assets/FrontEnd/assets/js/jquery.countdown.min.js")"></script>
    <script src="@Url.Content("~/Assets/FrontEnd/assets/js/jquery.magnific-popup.min.js")"></script>
    <script src="@Url.Content("~/Assets/FrontEnd/assets/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/Assets/FrontEnd/assets/js/parallax.min.js")"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3&amp;key=AIzaSyCy7becgYuLwns3uumNm6WdBYkBpLfy44k"></script>
    <script src="@Url.Content("~/Assets/FrontEnd/assets/js/jquery.easypiechart.min.js")"></script>
    <script src="@Url.Content("~/Assets/FrontEnd/assets/js/spectragram.min.js")"></script>
    <script src="@Url.Content("~/Assets/FrontEnd/assets/js/jquery.waypoints.min.js")"></script>
    <script src="@Url.Content("~/Assets/FrontEnd/assets/js/scrollax.js")"></script>

    <script src="@Url.Content("~/Assets/FrontEnd/assets/js/main.js")"></script>

    <script>

        $("#LoginForm").validate({
            rules: {
                Email: {
                    required: true
                },
                Password: {
                    required: true
                }
            }

        });

       
    </script>

    @RenderSection("Scripts", false)
</body>

<!-- Mirrored from demo.xpeedstudio.com/html/fundpress/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Dec 2018 11:04:55 GMT -->
</html>
