﻿@using CrowdFunding.Models.Other
@using CrowdFunding.Models.DBModels

@model CrowdFunding.Models.ViewModels.User_VM

@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";


    SessionUser user = Session["User"] as SessionUser;
}

<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">Add User</h3>
        <div class="example-box-wrapper">
            @using (Html.BeginForm("AddUser","User", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h4>User Details</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.HiddenFor(model => model.ID)
                                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name" } })
                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name" } })
                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email Address" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { type = "password", @class = "form-control", placeholder = "Password" } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { type = "password", @class = "form-control", placeholder = "Password" } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ImageFile, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.ImageFile, new { type = "file", @class = "form-control", data_src = "#UserImage", placeholder = "Select Image" })
                                        @Html.ValidationMessageFor(model => model.ImageFile, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.ImagePath)
                                    </div>
                                </div>

                                  @if (user.Role.ID == (int)DefaultRole.Admin)
                                  {
                                      <div class="form-group">
                                          <label class="control-label col-md-2">Role</label>
                                          <div class="col-md-10">
                                              <select class="form-control" id="Role" name="RoleID">
                                                  @foreach (var element in ViewBag.Roles)
                                                  {
                                                      <option value="@element.ID">@element.Name</option>
                                                  }
                                              </select>
                                              @Html.ValidationMessageFor(model => model.RoleID, "", new { @class = "text-danger" })
                                          </div>
                                      </div>
                                  }
                                  else
                                  {
                                      @Html.HiddenFor(x => x.RoleID)
                                  }
                                @Html.HiddenFor(x => x.IsDeleted)
                                @Html.HiddenFor(x => x.TimeStamp)
                                @Html.HiddenFor(x => x.MobileNo)          
                            </div>
                            <div class="col-xs-6">
                                @if (!string.IsNullOrWhiteSpace(Model.ImagePath))
                                {
                                    <img src="@Url.Content(Model.ImagePath)" style="width:300px" id="UserImage" class="img-responsive" />
                                }
                                else
                                {
                                    <img src="" style="width:300px" id="UserImage" class="img-responsive" />
                                }
                            </div>
                        </div>  
            </div>
                    
                <div class="row">
                    <div class="col-md-6">
                        <div class="pull-left">
                            <a href="@Url.Action("UserManagement","User")">Back to List</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <input type="submit" value="@(Model.ID == 0 ? "Add" : "Update") User" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>
