﻿@model List<CrowdFunding.Models.DBModels.User>
@{
    ViewBag.Title = "UserManagement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<div id="page-title">
    <h2>User Management</h2>
    <p></p>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">

            </div>
            <div class="panel-body">

                <div class="example-box-wrapper">

                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="title-hero">User Management</h3>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <a href="@Url.Action("AddUser","User")" class="btn btn-primary">
                                    Add User
                                    <div class="ripple-wrapper"></div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable-example">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var element in Model)
                            {
                                <tr class="odd gradeX">
                                    <td>@element.FirstName</td>
                                    <td>@element.LastName</td>
                                    <td class="center">@element.Email</td>
                                    <td>
                                        <a href="@Url.Action("AddUser", "User", new { id = element.ID })"><i style="color:blue" class="glyph-icon tooltip-button icon-pencil-square-o" title="" data-original-title="Edit" aria-describedby="tooltip854738"></i></a>
                                        <a role="button" data-id="@element.ID" class="DeleteUserBtn" href="#/"><i style="color:red" class="glyph-icon tooltip-button icon-trash" title="" data-original-title="Delete" aria-describedby="tooltip991223"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>




@section Scripts{
    <script>

        $(".DeleteUserBtn").click(function () {
            var id = $(this).data("id");
            console.log("ID :" + id);
            bootbox.confirm({
                title: "<h4 style='color:red'>Caution!</h4>",
                message: "Deleting this user may end up deleting all information about this user from the system. do you still want to continue?",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Cancel'
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> Confirm'
                    }
                },
                callback: function (result) {
                    if (result == true) {
                        $.post("@Url.Action("DeleteUser","User")", { userID: id }).then(function () {
                            window.location.reload();
                        });
                    }
                }
            });
        });


    </script>
}