﻿@model List<CrowdFunding.Models.ViewModels.VerifyUser_LV>

@{
    ViewBag.Title = "VerifyUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}



<div id="page-title">
    <h2>User Verification</h2>
    <p></p>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">

            </div>
            <div class="panel-body">

                <div class="example-box-wrapper">

                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="title-hero">User Verification</h3>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>

                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable-example">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Bank Document</th>
                                <th>Identity Document</th>
                                <th>Proof of Residency</th>
                                <th>Actions</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var element in Model)
                            {
                            <tr class="odd gradeX">
                                <td>@element.FirstName</td>
                                <td>@element.LastName</td>
                                <td class="center">@element.Email</td>
                                <td>

                                    <a target="_blank" href="@Url.Content(element.BankDocument)">
                                        Bank Statement
                                        @(element.BankDocumentVerified ? @Html.Raw( @"<i class=""text-success glyph-icon tooltip-button icon-check-circle-o""></i>" ) : @Html.Raw( @"<i class=""text-danger glyph-icon tooltip-button icon-remove""></i>" ) )
                                    </a>
                                </td>
                                <td>
                                    <a target="_blank" href="@Url.Content(element.IdentityDocument)">
                                        Identity Document
                                        @(element.IdentityDocumentVerified ? @Html.Raw(@"<i class=""text-success glyph-icon tooltip-button icon-check-circle-o""></i>") : @Html.Raw(@"<i class=""text-danger glyph-icon tooltip-button icon-remove""></i>") )

                                    </a>
                                </td>
                                <td>
                                    <a target="_blank" href="@Url.Content(element.ProofOfResidency)">
                                        Proof Of Residency
                                        @(element.IdentityDocumentVerified ? @Html.Raw(@"<i class=""text-success glyph-icon tooltip-button icon-check-circle-o""></i>") : @Html.Raw(@"<i class=""text-danger glyph-icon tooltip-button icon-remove""></i>") )
                                    </a>
                                </td>

                                <td>
                                    <a href="#/" class="VerifyBtn" data-id="@element.UserID"><i class="text-success glyph-icon tooltip-button icon-check-circle-o" title="" data-original-title="Verify" aria-describedby="tooltip854738"></i></a>
                                    <a href="#/"  class="RemoveVerificationBtn"  data-id="@element.UserID"><i class="text-danger glyph-icon tooltip-button icon-remove" title="" data-original-title="Remove Verification" aria-describedby="tooltip854738"></i></a>

                                    <a href="@Url.Action("AddUser", "User", new { id = element.ID })"><i style="color:blue" class="glyph-icon tooltip-button icon-pencil-square-o" title="" data-original-title="Edit" aria-describedby="tooltip854738"></i></a>
                                    <a role="button" data-id="@element.ID" class="DeleteUserBtn" href="#/"><i style="color:red" class="glyph-icon tooltip-button icon-trash" title="" data-original-title="Delete" aria-describedby="tooltip991223"></i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>




@section Scripts{
<script>
        $(".DeleteUserBtn").click(function () {
            var id = $(this).data("id");
            console.log("ID :" + id);
            bootbox.confirm({
                title: "<h4 style='color:red'>Caution!</h4>",
                message: "Deleting this User may end up deleting all information about this User from the system. do you still want to continue?",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Cancel'
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> Confirm'
                    }
                },
                callback: function (result) {
                    if (result == true) {
                        $.post("@Url.Action("DeleteUser","User")", { UserID: id }).then(function () {
                            window.location.reload();
                        });
                    }
                }
            });
        });


        $(".VerifyBtn").click(function () {
             var id = $(this).data("id");
            console.log("ID :" + id);
            bootbox.confirm({
                title: "<h4 style='color:red'>Caution!</h4>",
                message: "Are you sure you want to verify this user?",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Cancel'
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> Confirm'
                    }
                },
                callback: function (result) {
                    if (result == true) {
                        $.post("@Url.Action("VerifyUser","User")", { UserID: id }).then(function () {
                            window.location.reload();
                        });
                    }
                }
            });
    });

        $(".RemoveVerificationBtn").click(function () {
             var id = $(this).data("id");
            console.log("ID :" + id);
            bootbox.confirm({
                title: "<h4 style='color:red'>Caution!</h4>",
                message: "Are you sure you want to remove the verification for this user(This will delete the files that user has posted)?",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Cancel'
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> Confirm'
                    }
                },
                callback: function (result) {
                    if (result == true) {
                        $.post("@Url.Action("RemoveVerification","User")", { UserID: id }).then(function () {
                            window.location.reload();
                        });
                    }
                }
            });
        });

</script>
}
