﻿@model CrowdFunding.Models.ViewModels.Project_VM
@using CrowdFunding.Models.Other
@using CrowdFunding.Models.DBModels

@{
    ViewBag.Title = "ProjectDetail";

    SessionUser user = Session["User"] as SessionUser;
    MiniORM ORM = new MiniORM();

    double UserWallet = 0;
    if (!string.IsNullOrWhiteSpace(ViewBag.UserWallet))
    {
        UserWallet = double.Parse(ViewBag.UserWallet);
    }
}

<main class="xs-all-content-wrapper">
    <!-- fund details -->
    <section class="xs-content-section-padding xs-fund-details fundpress-fund-details">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-7">
                    <div class="xs-sync-slider-wraper xs-mb-50">
                        <div class="owl-carousel xs-sync-slider-preview xs-mb-10">
                            @foreach (var element in Model.ProjectImages)
                            {
                                <div class="xs-sync-slider-preview-content">
                                    <img src="@Url.Content(element)" alt="">
                                </div>

                            }
                        </div><!-- xs-sync-slider-preview -->
                        <div class="owl-carousel xs-sync-slider-thumb">
                            @foreach (var element in Model.ProjectImages)
                            {
                                <div class="xs-sync-slider-thumb-content">
                                    <img src="@Url.Content(element)" alt="">
                                </div>

                            }

                        </div><!-- xs-sync-slider-thumb -->
                    </div><!-- xs-sync-slider-wraper -->
                    <div class="xs-text-content-tab">
                        <!-- Nav tabs -->
                        <div class="xs-tab-nav fundpress-tab-nav-v2 xs-mb-30">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#description" role="tab" data-toggle="tab">
                                        Description
                                    </a>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link" href="#backers" role="tab" data-toggle="tab">
                                        Backers
                                    </a>
                                </li>
                            </ul>
                        </div><!-- xs-tab-nav fundpress-tab-nav-v2 xs-mb-30 -->
                        <!-- Tab panes -->
                        <div class="tab-content xs-text-tab-content">
                            <div role="tabpanel" class="tab-pane fadeInRights show fade in active" id="description">
                                @Html.Raw(Model.project.Description)
                            </div><!-- tab-pane fadeInRights -->
                            <div role="tabpanel" class="tab-pane fadeInRights fade" id="backers">
                                <div class="xs-backers-lsit-wraprer">
                                    <ul class="fundpress-backer-lsit">
                                        <li class="row xs-margin-0">
                                            <div class="row xs-margin-0 col-md-6 text-left">
                                                <div class="xs-avatar full-round">
                                                    <img src="@Url.Content("~/Assets/FrontEnd/assets/images/backers/backers-1.jpg")" alt="">
                                                </div>
                                                <div class="fundpress-backer-info">
                                                    <h3 class="color-navy-blue semi-bold">Emerson Royle</h3>
                                                    <h4 class="color-green regular xs-mb-0">$54,821 - No reward</h4>
                                                </div>
                                            </div>
                                            <div class="xs-btn-wraper col-md-6 text-right">
                                                <a href="#" class="xs-btn round-btn navy-blue-btn">Details</a>
                                            </div>
                                        </li>
                                        <li class="row xs-margin-0">
                                            <div class="row xs-margin-0 col-md-6 text-left">
                                                <div class="xs-avatar full-round">
                                                    <img src="@Url.Content("~/Assets/FrontEnd/assets/images/backers/backers-3.jpg")" alt="">
                                                </div>
                                                <div class="fundpress-backer-info">
                                                    <h3 class="color-navy-blue semi-bold">Emmy Anderson</h3>
                                                    <h4 class="color-green regular xs-mb-0">$33,000 - No reward</h4>
                                                </div>
                                            </div>
                                            <div class="xs-btn-wraper col-md-6 text-right">
                                                <a href="#" class="xs-btn round-btn navy-blue-btn">Details</a>
                                            </div>
                                        </li>
                                        <li class="row xs-margin-0">
                                            <div class="row xs-margin-0 col-md-6 text-left">
                                                <div class="xs-avatar full-round">
                                                    <img src="@Url.Content("~/Assets/FrontEnd/assets/images/backers/backers-4.jpg")" alt="">
                                                </div>
                                                <div class="fundpress-backer-info">
                                                    <h3 class="color-navy-blue semi-bold">Angelina Julie</h3>
                                                    <h4 class="color-green regular xs-mb-0">$54,000 - No reward</h4>
                                                </div>
                                            </div>
                                            <div class="xs-btn-wraper col-md-6 text-right">
                                                <a href="#" class="xs-btn round-btn navy-blue-btn">Details</a>
                                            </div>
                                        </li>
                                        <li class="row xs-margin-0">
                                            <div class="row xs-margin-0 col-md-6 text-left">
                                                <div class="xs-avatar full-round">
                                                    <img src="@Url.Content("~/Assets/FrontEnd/assets/images/backers/backers-1.jpg")" alt="">
                                                </div>
                                                <div class="fundpress-backer-info">
                                                    <h3 class="color-navy-blue semi-bold">Van Persia</h3>
                                                    <h4 class="color-green regular xs-mb-0">$12,346 - No reward</h4>
                                                </div>
                                            </div>
                                            <div class="xs-btn-wraper col-md-6 text-right">
                                                <a href="#" class="xs-btn round-btn navy-blue-btn">Details</a>
                                            </div>
                                        </li>
                                        <li class="row xs-margin-0">
                                            <div class="row xs-margin-0 col-md-6 text-left">
                                                <div class="xs-avatar full-round">
                                                    <img src="@Url.Content("~/Assets/FrontEnd/assets/images/backers/backers-2.jpg")" alt="">
                                                </div>
                                                <div class="fundpress-backer-info">
                                                    <h3 class="color-navy-blue semi-bold">Fula Tarner</h3>
                                                    <h4 class="color-green regular xs-mb-0">$64,000 - No reward</h4>
                                                </div>
                                            </div>
                                            <div class="xs-btn-wraper col-md-6 text-right">
                                                <a href="#" class="xs-btn round-btn navy-blue-btn">Details</a>
                                            </div>
                                        </li>
                                        <li class="row xs-margin-0">
                                            <div class="row xs-margin-0 col-md-6 text-left">
                                                <div class="xs-avatar full-round">
                                                    <img src="@Url.Content("~/Assets/FrontEnd/assets/images/backers/backers-3.jpg")" alt="">
                                                </div>
                                                <div class="fundpress-backer-info">
                                                    <h3 class="color-navy-blue semi-bold">Kale Anderson</h3>
                                                    <h4 class="color-green regular xs-mb-0">$40,000 - No reward</h4>
                                                </div>
                                            </div>
                                            <div class="xs-btn-wraper col-md-6 text-right">
                                                <a href="#" class="xs-btn round-btn navy-blue-btn">Details</a>
                                            </div>
                                        </li>
                                        <li class="row xs-margin-0">
                                            <div class="row xs-margin-0 col-md-6 text-left">
                                                <div class="xs-avatar full-round">
                                                    <img src="@Url.Content("~/Assets/FrontEnd/assets/images/backers/backers-4.jpg")" alt="">
                                                </div>
                                                <div class="fundpress-backer-info">
                                                    <h3 class="color-navy-blue semi-bold">Emila Perry</h3>
                                                    <h4 class="color-green regular xs-mb-0">$34,700 - No reward</h4>
                                                </div>
                                            </div>
                                            <div class="xs-btn-wraper col-md-6 text-right">
                                                <a href="#" class="xs-btn round-btn navy-blue-btn">Details</a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="xs-animate-btn-wraper xs-gradient-overlay white-gradient-overlay">
                                        <a href="#" class="xs-animate-btn color-navy-blue">
                                            <i class="fa fa-long-arrow-down"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- tab-content xs-text-tab-content -->
                    </div><!-- xs-text-content-tab -->
                </div>
                <div class="col-md-12 col-sm-12 col-lg-5">
                    <div class="xs-sidebar-wraper">
                        <div class="xs-single-sidebar xs-mb-20">
                            <div class="xs-pie-chart-wraper fundpress-pie-chart-wraper">
                                <div class="xs-pie-chart" data-percent="@((Model.Pledged/Model.project.Goal ) * 100)">
                                    <div class="xs-pie-chart-percent-wraper icon-position-center bold color-navy-blue xs-spilit-container">
                                        <div class="xs-pie-chart-percent"></div>
                                        <span>%</span>
                                    </div>
                                </div>
                                <div class="xs-pie-chart-label">Fund Raised</div>
                            </div><!-- xs-pie-chart-wraper -->
                        </div>
                        <div class="xs-single-sidebar xs-mb-30">
                            <ul class="xs-list-with-content fundpress-simple-list-content">
                                <li class="color-navy-blue bold xs-mb-20">US $@Model.Pledged<span class="color-semi-black regular">Pledged</span></li>

                                <li class="color-green bold xs-mb-20">US $@Model.project.Goal<span class="color-semi-black regular">Goal</span></li>
                                <li class="color-brick-light-2 bold">@Model.Backers<span class="color-semi-black regular">Backers</span></li>
                            </ul><!-- xs-list-with-content fundpress-simple-list-content -->
                        </div>
                        <div class="xs-single-sidebar xs-mb-40">
                            <div class="xs-countdown-timer-wraper">
                                <div class="countdown-container xs-countdown-timer-v2" data-countdown="@Model.project.TimeLeft.ToString("yyyy/MM/dd")"></div>
                            </div><!-- xs-countdown-timer-wraper -->
                        </div>
                        <div class="xs-single-sidebar xs-mb-50">
                            <div class="xs-spilit-container">
                                <div class="xs-btn-wraper">
                                    <a href="#/" id="InvestBtn" class="icon-btn xs-btn radius-btn green-btn xs-btn-medium"><i class="fa fa-heart"></i>invest Now</a>
                                </div>
                                <div class="xs-social-list-wraper">
                                    <ul class="xs-social-list xs-social-list-v3 fundpress-social-list">
                                        <li><a href="#" class="color-facebook xs-box-shadow full-round"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" class="xs-box-shadow color-google-plus full-round"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#" class="xs-box-shadow color-twitter full-round"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" class="xs-box-shadow color-navy-blue full-round"><i class="fa fa-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div><!-- xs buttons and social list -->
                        </div>
                        <div class="xs-single-sidebar xs-mb-50">
                            <div class="xs-spilit-container xs-spilit-container-v2">
                                <div class="xs-avatar xs-avatar-big full-round fundpress-avatar">
                                    <img src="@Url.Content("~/Assets/FrontEnd/assets/images/avatar/avatar_2.jpg")" alt="">
                                </div>
                                <div class="xs-avatar-title fundpress-avatar-title fundpress-avatar-title-v2">
                                    <a href="#" class="xs-mb-10">Alferd Keyn Williamson</a>
                                    <p class="xs-content-description fundpress-content-description xs-mb-20">CEO & Founder, Abstract Art Inc.</p>
                                    <ul class="xs-list-item-icon-text">
                                        <li class="xs-mb-0">
                                            <p class="xs-content-description fundpress-content-description">
                                                <i class="fa fa-map-marker color-green"></i>
                                                Aban dhaban typo pen road, New york, United States
                                            </p>
                                        </li>
                                    </ul>
                                </div><!-- xs-avatar-title fundpress-avatar-title fundpress-avatar-title-v2 -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>	<!-- End fund details -->
    <!-- popular campaigns -->
    <section class="waypoint-tigger xs-gray-bg xs-section-padding">
        <div class="container">
            <div class="xs-section-heading row xs-margin-0">
                <div class="fundpress-heading-title xs-padding-0 col-xl-9 col-md-9">
                    <h2 class="color-navy-blue">Other Project</h2>
                    <span class="xs-separetor dashed-separetor fundpress-separetor"></span>
                    <p>FundPress has built a platform focused on aiding entrepreneurs, startups, and companies raise capital from anyone.</p>
                </div><!-- .xs-heading-title .fundpress-heading-title .xs-col-9 END -->
                <div class="xs-btn-wraper xs-padding-0 col-xl-3 col-md-3 d-flex-center-end">
                    <a href="#" class="xs-btn round-btn navy-blue-btn">all Projects</a>
                </div><!-- .xs-btn-wraper .xs-col-3 .d-flex-center-end END -->
            </div><!-- .xs-section-heading .fundpress-section-heading .xs-spilit-container END -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="xs-box-shadow fundpress-popular-item xs-bg-white">
                        <div class="fundpress-item-header">
                            <img src="@Url.Content("~/Assets/FrontEnd/assets/images/campaigns/campaigns-1.jpg")" alt="">
                            <div class="xs-item-header-content">
                                <div class="xs-skill-bar">
                                    <div class="xs-skill-track">
                                        <p><span class="number-percentage-count number-percentage" data-value="90" data-animation-duration="3500">0</span>%</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .xs-item-header .fundpress-item-header END -->
                        <div class="fundpress-item-content xs-content-padding bg-color-white">
                            <ul class="xs-simple-tag fundpress-simple-tag">
                                <li><a href="#">Technology</a></li>
                            </ul>
                            <a href="#" class="d-block color-navy-blue fundpress-post-title">Splash Drone 3 a Fully Waterproof Drone that floats</a>
                            <ul class="xs-list-with-content fundpress-list-item-content">
                                <li>$67,000<span>Pledged</span></li>
                                <li><span class="number-percentage-count number-percentage" data-value="90" data-animation-duration="3500">0</span>% <span>Funded</span></li>
                                <li>3<span>Days to go</span></li>
                            </ul>
                            <span class="xs-separetor border-separetor xs-separetor-v2 fundpress-separetor"></span>
                            <div class="row xs-margin-0">
                                <div class="full-round fundpress-avatar">
                                    <img src="@Url.Content("~/Assets/FrontEnd/assets/images/avatar/avatar_1.jpg")" alt="">
                                </div>
                                <div class="xs-avatar-title">
                                    <a href="#"><span>By</span>Ema Watson</a>
                                </div>
                            </div>
                        </div><!-- .fundpress-item-content END -->
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="xs-box-shadow fundpress-popular-item xs-bg-white">
                        <div class="fundpress-item-header">
                            <img src="@Url.Content("~/Assets/FrontEnd/assets/images/campaigns/campaigns-2.jpg")" alt="">
                            <div class="xs-item-header-content">
                                <div class="xs-skill-bar">
                                    <div class="xs-skill-track">
                                        <p><span class="number-percentage-count number-percentage" data-value="59" data-animation-duration="3500">0</span>%</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .xs-item-header .fundpress-item-header END -->
                        <div class="fundpress-item-content xs-content-padding bg-color-white">
                            <ul class="xs-simple-tag fundpress-simple-tag">
                                <li><a href="#">Charity</a></li>
                            </ul>
                            <a href="#" class="d-block color-navy-blue fundpress-post-title">The Read Read: Braille Literacy Tool for the Blind</a>
                            <ul class="xs-list-with-content fundpress-list-item-content">
                                <li>$33,600<span>Pledged</span></li>
                                <li><span class="number-percentage-count number-percentage" data-value="59" data-animation-duration="3500">0</span>% <span>Funded</span></li>
                                <li>10<span>Days to go</span></li>
                            </ul>
                            <span class="xs-separetor border-separetor xs-separetor-v2 fundpress-separetor"></span>
                            <div class="row xs-margin-0">
                                <div class="full-round fundpress-avatar">
                                    <img src="@Url.Content("~/Assets/FrontEnd/assets/images/avatar/avatar_2.jpg")" alt="">
                                </div>
                                <div class="xs-avatar-title">
                                    <a href="#"><span>By</span>Kene Williamson</a>
                                </div>
                            </div>
                        </div><!-- .fundpress-item-content END -->
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="xs-box-shadow fundpress-popular-item xs-bg-white">
                        <div class="fundpress-item-header">
                            <img src="@Url.Content("~/Assets/FrontEnd/assets/images/campaigns/campaigns-3.jpg")" alt="">
                            <div class="xs-item-header-content">
                                <div class="xs-skill-bar">
                                    <div class="xs-skill-track">
                                        <p><span class="number-percentage-count number-percentage" data-value="35" data-animation-duration="3500">0</span>%</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .xs-item-header .fundpress-item-header END -->
                        <div class="fundpress-item-content xs-content-padding bg-color-white">
                            <ul class="xs-simple-tag fundpress-simple-tag">
                                <li><a href="#">Funding</a></li>
                                <li><a href="#">Charity</a></li>
                            </ul>
                            <a href="#" class="d-block color-navy-blue fundpress-post-title">BuildOne: $99 3D Printer w/ WiFi and Auto Bed Leveling!</a>
                            <ul class="xs-list-with-content fundpress-list-item-content">
                                <li>$12,760<span>Pledged</span></li>
                                <li><span class="number-percentage-count number-percentage" data-value="35" data-animation-duration="3500">0</span>% <span>Funded</span></li>
                                <li>66<span>Days to go</span></li>
                            </ul>
                            <span class="xs-separetor border-separetor xs-separetor-v2 fundpress-separetor"></span>
                            <div class="row xs-margin-0">
                                <div class="full-round fundpress-avatar">
                                    <img src="@Url.Content("~/Assets/FrontEnd/assets/images/avatar/avatar_3.jpg")" alt="">
                                </div>
                                <div class="xs-avatar-title">
                                    <a href="#"><span>By</span>Leo Baddabes</a>
                                </div>
                            </div>
                        </div><!-- .fundpress-item-content END -->
                    </div>
                </div>
            </div>
        </div>
    </section>	<!-- End popular campaigns -->
</main>

@if (user == null)
{


}
else if (user.Role.ID != (int)DefaultRole.Lender)
{
    <div class="modal fade" id="InvestModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4></h4>
                </div>
                <div class="modal-body">
                    You need to Login as a Lender to be able to Donate.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button">Close</button>
                </div>

            </div>
        </div>
    </div>

}
else
{



    <div class="modal fade bd-example-modal-lg xs-modal" id="InvestModal" tabindex="-1" role="dialog" aria-hidden="true">
        @using (Html.BeginForm("ProjectDetail", "Home", FormMethod.Post))
    {
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            Your Wallet : @UserWallet <span id="WalletAmount"></span>
                        </div>
                        <div class="col-md-6">
                            Amount To Donate : <input type="text" class="form-control" name="InvestAmount"  />
                        </div>
                        <input type="hidden" name="ProjectID" value="@Request.QueryString["ProjectID"]">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">Donate</button>

                    <button class="btn btn-danger" type="button">Close</button>

                </div>
            </div>
        </div>


}

    </div>



}




@section scripts{
    @if (user == null)
    {
        <script>
            $("#InvestBtn").click(function () {
                $("#LoginModal").modal("show");
            });
        </script>

    }
    else if (user.Role.ID != (int)DefaultRole.Lender)
    {
        <script>
            $("#InvestBtn").click(function () {
                $("#InvestModal").modal("show");
            });
        </script>
    }
    else
    {
        <script>
            $("#InvestBtn").click(function () {
                $("#InvestModal").modal("show");
            });
        </script>

    }





}

